<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<title>借款合同</title>
		<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media.css') }}"/> -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">
		<style>
			/*@media screen and (min-width:960px){
			    .elephones{ max-width:640px;}
			}*/
			body{
				margin: 0;padding: 0;
				color:#606060;
				font-family:'Hiragino Sans GB','Microsoft Yahei',"WenQuanYi Micro Hei",SimSun,Tahoma,Arial,Helvetica,STHeiti;
			}
			body,html{
				font-size: 62.5%;
			}
			.pactbox{
				max-width:64rem;
				color: #888;
				background: #fff;
				font-size: 1.4rem;
				margin: 0 auto;
			}
			.dealtop{
				width: 90%;
				margin:0 auto;
				padding-top: 2.5%;
				line-height: 32px;
			}
			.dealbottom{
				width: 90%;
				margin:0 auto;
				line-height: 28px;
				padding-bottom: 120px;
			}
			.dealbottom>li{
				text-indent: 26px;
				line-height: 28px;
			}
			.dealbottom>li>strong{
				border-bottom: 1px solid #666;
				padding-bottom: 3px;
			}
			.tablook{
				width: 100%;
				height: 100px;
				border: 1px solid #eee;
				text-align: center;
				margin: 10px auto;
			}
			.tablook tr th{
				border-bottom: 1px solid #eee;
				border-right: 1px solid #eee;
				font-weight: normal;
			}
			.tablook tr td{
				border-right: 1px solid #eee;
			}
		</style>
	</head>
	<body>
		<div class="pactbox">
			<ul class="dealtop">
				<li style="text-align: center;"><b style="font-size: 4vmin;">借款合同</b></li>
				<li>编号：<b>{{render_data['product_name']}}</b></li>
				<li>出借人：</li>
				<li>证件类型：身份证</li>
				<li>证件号码：</li>
				<li>借款人：{{render_data.borrower_name}}</li>
				<li>证件类型：{{render_data.borrower_id_card_type}}</li>
				<li>证件号码：<b>{{render_data.borrower_id_card}}</b></li>
			</ul>

			<ul class="dealbottom">
				<li>借款人向出借人申请借款，出借人同意向借款人出借款项，且借款人、出借人均为具有完全民事权利能力和完全民事行为能力的自然人、法人或其他组织，根据中华人民共和国有关法律法规，经双方协商一致订立本合同。</li>
				<li>平台服务方指北京朴素磐石投资管理有限公司经营管理的“菠萝理财”平台（以下简称“平台”）。</li>
				<li>出借人为菠萝理财平台用户，菠萝理财平台用户为“菠萝理财”APP、其它移动终端（包括但不限于手机、笔记本、平板电脑）及平台第三方合作渠道的注册用户。本合同的出借人最终以一份或多份《出借信息确认单》中所列明的出借人为准。</li>
				<li><b>一、借款金额及用途</b></li>
				<li>1.1所有出借人出借的借款本金总额最高不超过人民币大写 <strong>{{render_data.total_mount_chinese}}</strong>（小写 <strong>{{render_data.total_mount}}</strong> 元整），在该借款额度内，借款人申请借款不再逐笔签订借款合同，每笔借款的金额、起息日、还款日等以一份或多份《出借信息确认单》中所载的内容或银行汇款单往来实际发生最终借款金额为准</li>
				<li>1.2借款用途为 <strong>{{render_data.loan_use}}</strong> 。</li>
				<li>1.3当下列条件之一满足时，借款条款（即第1.1条及第二条）生效：</li>
				<li>1.3.1	募集期满时，所有投资者认购借款债权金额总额达到发布需求的百分之【百】（含）；</li>
				<li>1.3.2	募集期内，借款人发布的借款需求全部被认购完毕。</li>
				<li>1.4	募集期：指借款需求的筹资期限，募集期限为 5 天，自菠萝理财平台发布借款需求之日起算。如在募集期内，借款人发布的借款需求全部被认购完毕，则募集期于至借款需求被认购完毕之日结束。募集期的最终确定，以平台公布为准。</li>
				<li>1.5	借款条款生效后，借款人不得放弃借款。平台根据最终撮合结果形成《出借信息确认单》，并通过邮件或传真方式或邮寄方式将《出借信息确认单》提供给借款人，借款人应对收到的《出借信息确认单》进行盖章确认并回传给平台，否则出借人有权拒绝发放款项。但无论借款人是否盖章确认，均不影响平台提供的《出借信息确认单》的效力，借款人无条件认可平台提供的《出借信息确认单》内容的真实性和有效性。若借款人放弃借款的，除须交纳募集期资金占用费外，借款人还须向出借人按照实际募集金额的【5】%支付违约金。</li>
				<li>1.6	自借款条款生效之日起，出借人即不可撤销地授权平台或平台合作的第三方，从出借人的平台账户中将等同于出借本金金额划转至借款人指定的如下银行账户或平台在合作的第三方开立的虚拟银行账户。上述划转完成即视为出借人已完成本金出借义务：</li>

				<li>账户名：***</li>
				<li>开户银行：*************</li>
				<li>银行账号：***************</li>
				<li>1.7	如借款人发布的借款项目的募集期期限届满，所有出借人认购出借金额总额低于发布需求的百分之【百】，则本合同自动失效，借款人按照本协议第三条的约定向出借人支付募集期资金占用费。</li>
				<li>1.8	上述募集期内出借人认购金额的情况，出借人、借款人双方均认可以平台届时发布的通知为准。</li>
				
				<li><b>二、借款期限及利率</b></li>
				<li>2.1	借款期限为 <strong>{{render_data.time_limit}}</strong> 天/<strong>{{render_data.time_limit_month}}</strong>月，借款起息日为出借人完成本金出借义务之日，还款日为借款期限届满之日。</li>
				<li>2.2本合同的借款利率为固定利率，年利率为 <strong>{{render_data.rate}}</strong> %。日利率＝年利率÷360，月利率＝年利率÷12。</li>
				<li>2.3利息计算方式分为按日计息和按月计息，付息方式按照到期一次性还本付息和每月付息到期还本付息，本次借款采用以下第  <strong>1</strong> 种：</li>
				<li> （1）按日计息到期一次性还本付息，每日应付利息=借款本金×日利率，以出借人投标日为起息日按实际借款天数计算利息。</li>
				<li> （2）按月计息每月还息到期还本付息，每月应付利息=借款本金×月利率，以出借人投标日为起息日按实际借款月数计算利息。利息结算方式按月计息，以出借人投标日为起息日，每月当天为付息日，结算当月利息，最后一次付息日为合同到期日。</li>
				<li>2.4还款方式：借款人于合同规定时间将应付的本金及利息存入平台指定的如下银行账户，同意并不可撤销地授权平台或平台委托的第三方将本金及利息划转至出借人平台账户。借款本金及利息实际划转至出借人平台账户之日为本金及利息的实际偿还日期。</li>

				<li>账户名： 北京朴素磐石投资管理有限公司</li>
				<li>开户银行	招商银行</li>
				<li>一般户银行账号	*******************</li>
				<li>2.5借款人归还的款项不足以清偿其在合同项下应付数额的，偿付顺序为应支付的平台服务费、募集期资金占用费、违约金、本金、利息、罚息。出借人按照各自的债权比例受偿 。</li>
				<li>2.6提前还款：借款人允许提前还款，但只能提前归还全部款项。若借款人提前还款，另加计7天利息作为违约金。借款人应于提前还款前   <strong>7</strong>   个工作日通过平台通知出借人。</li>
				
				<li><b>三、募集期资金占用费</b></li>
				<li>3.1募集期资金占用费：自菠萝理财平台发布借款需求之日起，借款人应向出借人支付募集期资金占用费。单个出借人募集期资金占用费的计算方式：</li>
				<li>（1）按天结算利息的：</li>
				<li>募集期资金占用费=投资金额×借款年利率×募集期资金占用天数÷360。</li>
				<li>（2）按月结算利息的：</li>
				<li>募集期资金占用费=投资金额×借款月利率×募集期资金占用天数÷（计息日至第一次结息日间天数）。</li>
				<li>募集期资金占用天数为出借人认购菠萝理财平台发布的借款项目之日起至募集期满之日。</li>
				<li>募集期资金占用费最终以签订的附件一所载内容为准。</li>
				<li>3.2支付时间及方式：借款人应于第一次支付借款本金或利息时顺同将募集期资金占用费打入平台指定还款账户，同意并不可撤销地授权平台或平台委托的第三方将募集期资金占用费划转至出借人平台账户；如因发生本合同第1.7条情形导致本合同失效的，借款人应于募集期满后次日内支付。</li>
				<li>3.3本次借款募集期资金占用天数按<strong>0</strong>天计算。</li>
				
				<li><b>四、担保条款</b></li>
				<li>4.1本协议项下的借款本息及其他一切相关费用由<strong>***</strong>作为保证人，该保证人单方另行出具《担保函》。</li>
				
				<li><b>五、双方的主要权利义务</b></li>
				<li>5.1借款人的主要权利和义务</li>
				<li>5.1.1借款人有权要求出借人按本合同约定发放借款。</li>
				<li>5.1.2借款人有权要求出借人对借款人提供的有关个人还款能力的资料予以保密，但出借人为本合同之目的或办理个人征信相关之目的披露给平台方及其委托的第三方、个人征信机构或法律、行政法规另有规定的除外。</li>
				<li>5.1.3借款人应按出借人要求提供有关个人身份、还款能力及个人信用报告的资料，并保证资料的合法性、真实性、完整性和有效性。</li>
				<li>5.1.4借款人应按时足额支付募集期资金占用费。</li>
				<li>5.1.5出借人按本合同约定发放借款后，借款人应按照本合同约定的期限归还全部借款本息。</li>
				<li>5.1.6借款人应按本合同约定用途使用借款，未经出借人书面同意，借款人不得将借款挪作他用；借款人不得将借款用于有价证券、期货等投资、股权投资，并自觉接受出借人或其委托的第三方对本合同项下借款使用情况的调查、了解及监督。</li>
				<li>5.1.7借款人应积极配合出借人对其经营事项、经济状况的调查、了解及监督，并有义务向出借人提供相关资信资料。</li>
				<li>5.1.8发生变更住所、通讯地址、经营事项、工作单位或借款人银行账户等事项时，借款人应于有关事项变更后三日内书面通知出借人和平台方。</li>
				<li>5.1.9在借款全部清偿前，借款人经济状况发生变化，可能影响其债务清偿能力的，借款人应当在变化发生后三日内书面通知出借人和平台方；借款人如为他人债务提供担保，可能影响自身债务清偿能力的，借款人应当提前书面通知出借人和平台方，并征得出借人同意；发生对其履行本合同项下还款义务产生不利影响的其他事件，包括但不限于财务状况恶化、陷入经济纠纷、辞（退）职、开除、除名、解雇、重大违纪事件时，借款人应于事件发生后三日内书面通知出借人和平台方。</li>
				<li>5.1.10借款人承担本合同项下有关费用的支出，包括但不限于用于公证、鉴定、评估、登记、快递等事项的费用。</li>
				<li>5.1.11平台方有权就本合同借款所提供的服务向借款人收取服务费，上述费用的收取方式由借款人和平台方另行约定。</li>
				<li>5.1.12以上需由借款人通知到出借人的各事项，可由借款人通过平台通知到出借人，通知的形式包括书面、电话、手机短信、电子邮件、站内信、网站公告等形式，以先到达信息为准。</li>
				<br />
				<li>5.2出借人主要权利和义务</li>
				<li>5.2.1出借人有权要求借款人提供与本合同项下借款相关的全部资料。</li>
				<li>5.2.2出借人应依本合同约定按时足额向借款人发放借款（因借款人原因造成迟延的除外）。</li>
				<li>5.2.3出借人有权依本合同约定或法律规定，收取借款人应偿付的借款本金、利息、募集期资金占用费、罚息、违约金及所有其他应付费用；出借人有权了解、核实有关借款人身份、还款能力、个人信用和家庭财务状况，有权要求借款人提供相关文件资料。</li>
				<li>5.2.4出借人应对借款人提供的有关个人资料予以保密，但出借人为本合同之目的或办理个人征信之目的披露给平台及其委托的第三方、个人征信机构或法律、行政法规另有规定的除外。</li>
				<li>5.2.5出借人有权自行或委托第三方对借款的使用情况进行监督。</li>
				<li>5.2.6借款人的资信情况或还款能力出现重大变化（包括但不限于经营状况发生重大变化、拖欠其他债务），足以影响其偿债能力或使其已经不再符合出借人借款条件的，出借人或其委托的第三方有权以书面形式要求借款提前到期。</li>
				<li>5.2.7对借款人逃避出借人监督、拖欠借款本金及利息或其他严重违约行为，出借人有权采取救济措施，包括但不限于有权向有关部门或单位予以通报，通过新闻媒体实现公告催收。</li>
				<li>5.2.8出借人及出借人委托的第三方有权通过平台将本合同项下债权转让给他人，并有义务于债权转让后通知借款人。借款人承认并认可该转让且无需事先获得借款人的同意。</li>
				<li>5.2.9保证人经营出现重大变化（包括但不限于公司股东变动；公司名称、注册资本和住所地的变更；公司合并、重组、分立、解散、破产；公司发生重大诉讼事项），足以影响其代偿能力或使其不再符合保证人条件的，出借人或其委托的第三方有权以书面形式要求借款人于三日内重新提供新的保证人。</li>
				<li>5.2.10以上需由出借人通知到借款人的各事项，可由出借人或出借人委托的第三方通过平台通知到借款人，通知的形式包括书面、电话、手机短信、电子邮件、站内信、网站公告、传真等形式，且先送达信息为准。</li>
				
				<li><b>六、违约责任</b></li>
				<li>6.1本合同双方均应履行本合同所约定的义务。任何一方不履行或不完全履行本合同所约定义务的，应当依法承担违约责任并承担相关费用，包括但不限于诉讼费、财产保全费、交通费、律师费、执行费、评估费、拍卖费、保管费、过户费等费用。</li>
				<li>6.2借款人未按本合同约定的时间将本金、利息、募集期资金占用费等应付款项支付至平台指定银行账户，即视为逾期。借款人除应支付本金、利息、募集期资金占用费外，还应自逾期之日起按借款本金的日万分之五计收逾期罚息，直至应付款项全部清偿完毕之日。逾期罚息不计复利。</li>
				<li>6.3借款人未按本合同约定用途使用借款的，出借人有权提前收回部分乃至全部借款或解除本合同，并对借款人违约使用的借款根据违约使用天数收取罚息，罚息计算方式同6.2条所述。同时平台方有权暂停借款人发布的信息。</li>
				<li>6.4借款人有下列行为之一的，应在收到出借人通知后七日内予以改正并采取合理的补救措施，否则出借人有权要求借款提前到期；借款人应在收到出借人要求借款提前到期通知的十日内足额归还所有应付未付的款项，对未在该期限内归还的借款本息，出借人有权按逾期天数计收罚息：</li>
				（1）借款人向出借人提供虚假或不完整的信息或资料；<br />
				（2）借款人拒绝或阻碍出借人对其收入或信用情况进行检查；<br />
				（3）借款人发生不良信用记录或违法、违纪等不良记录；<br />
				（4）借款人涉及重大经济纠纷等，使出借人债权实现受到或可能受到严重影响或威胁的；<br />
				（5）借款人违反本合同约定的其他义务或发生其他影响其偿债能力的事件；<br />
				（6）本合同项下之担保发生了不利于出借人债权实现的变化，且借款人未能按出借人的要求另行提供所需新的担保措施的；<br />
				（7）其他严重的违约行为。
				<li>6.5因借款人违约，平台方暂停信息发布的，给他人造成的所有损失由违约方承担。</li>
				
				<li><b>七、合同签订、成立及生效</b></li>
				<li>7.1合同签订：出借人、借款人同意以网络页面点击确认、签字或签章确认等方式签订本合同，即便在签订时本合同并没有借款人或出借人的信息、第一条、第二条的相关信息等, 也不得以此为由拒绝履行本合同项下的义务，双方同意以前述方式签订本合同后即视为不可撤销及变更地授权平台根据最终撮合结果自主生成前述信息，且未经平台方及其他方同意，任何一方不得以任何方式撤回、撤销本合同。</li>
				<li>7.2合同成立：本合同自出借人、借款人签订本合同之日（以两者最后签订本合同的时间为准）成立。</li>
				<li>7.3合同生效：本合同自成立之日起生效。平台根据最终撮合结果生成借款人与出借人信息、第一条、第二条信息及《出借信息确认单》等要素。</li>
				<li>7.4因网络平台的特殊性，借款人应以所有出借人为甲方签署纸质版的《借款合同》以及附件一《出借信息确认单》，并将盖章后的合同文本交由平台保管，该等合同文本对借款人具有约束力，同样可以作为出借人向借款人主张权利的依据。</li>
				
				<li><b>八、合同的变更、解除和终止</b></li>
				<li>8.1本合同的电子文本将通过站内信的形式发送至合同各方的本网站信箱。各方可以通过平台的相关系统板块查阅有关合同并进行核对。如对此有任何争议，应以平台网站记录的合同为准。</li>
				<li>8.2本合同生效后，除本合同已有约定外，本合同任何一方均不得擅自变更或提前解除本合同。如确需变更或解除本合同，应经本合同各方协商一致，并达成书面合同。书面合同达成之前，本合同继续执行。</li>
				<li>8.3合同解除或终止后，本合同及附件项下未清偿的借款本金、利息、罚息、违约金及所有其他应付款项未清偿的，继续适用本合同相关条款。</li>
				
				<li><b>九、证据和计算</b></li>
				<li>本合同双方确认并同意，委托平台对本合同项下的任何金额进行计算并通过平台发布或更新具体的还款数据及时间；在无明显错误的情况下，平台对本合同项下任何金额的任何证明或确定，应作为该金额有关事项的终局证明。</li>
				
				<li><b>十、争议解决</b></li>
				<li>本合同适用的是中国大陆的法律、法规和司法解释。本合同各方在履行本合同过程中所发生的争议，由各方协商解决。协商不成的，向平台方所在地（北京市海淀区）的法院提起诉讼。</li>
				
				<li><b>十一、其他条款</b></li>
				<li>11.1本合同项下的借款申请材料与本合同相关的通知、证明、凭证、函电等附件以及附件一《出借信息确认单》均是本合同不可分割的组成部分，具有同等法律效力，对本合同各方均有法律约束力。</li>
				<li>11.2借款人确认，本合同首页部位所记载的借款人的联系信息均为真实、有效的，书面通知或文件往来可以依照上述任何一种联系方式送达：1）邮件送达方式，发送人以向协议载明借款人邮箱发出邮件即视为送达；2）快递送达方式，送达回执显示日或无回执情形下快递邮寄后第3日即视为送达；3）传真送达方式，发送人以向协议载明借款人传真发送成功即视为送达。若借款人的联系信息发生变更的，应当及时通知平台方，如因借款人未及时履行变更通知义务的，则因此产生的不利后果由借款人自行承担，出借人或平台方依照原有联系信息发出的通知仍视为有效送达通知。</li>
				<li>11.3本合同中所涉及到的金额均精确到分位，分位以下的金额均舍去；本合同所涉及到的百分比均采用四舍五入的方式保留小数点后两位。</li>
				<li>11.4借款人和出借人均同意并确认，借款人、出借人通过其平台账户和银行账户采取的所有操作行为所产生的法律效果和法律责任均归属于借款人、出借人本人；借款人、出借人授权和委托平台根据本合同所采取的全部行动和措施的法律后果均归属于借款人、出借人本人，与平台方无关，平台方也不因此承担任何责任。在任何情形下，平台方不是本合同项下任何借款或债务的债务人或需要以其自有资金偿还本合同项下的任何借款或债务。平台方亦不是本合同项下债务的担保人或需要以其自有资金承担本合同项下的担保责任。借款人和出借人同意，平台方有权就其为借款人和出借人提供的服务收取服务费。</li>
				<li>11.5本合同的条款标题仅为了索引方便而设，不影响对本合同条款内容的理解，也不应构成对本合同及其条款内容的定义、限制或扩大。<b>本合同第十条关于争议解决的管辖地已向各方明确告知和说明，各方均同意接受该管辖条款</b></li>
				<li>11.6本合同的任何修改、补充均须以平台电子文本形式作出。</li>
				<li>11.7双方均确认，本合同的签订、生效和履行以不违反法律为前提。如果本合同中的任何一条或多条被司法部门认定为违反所须适用的法律并将被视为无效，该无效条款并不影响本合同其他条款的效力。</li>
				<li>11.8本合同电子文本与纸质文本具有同等法律效力。</li>
				（以下无正文，为本合同之签署）
				<li>出借人：</li>
				<li>日期：　 年　 月　 日</li>
				<li>借款人：{{render_data.borrower_name}} </li>
				<li>日期： {{render_data.borrow_time_year}} 年　{{render_data.borrow_time_mon}} 月　{{render_data.borrow_time_day}} 日</li>
			</ul>
			
			<!--<ul class="dealtop">-->
				<!--<li style="text-align: center;"><b style="font-size: 4vmin;">出借信息确认单</b></li>-->
				<!--<li>编号：</li>-->
				<!--<li>借款人： </li>-->
				<!--<li>证件类型：</li>-->
				<!--<li>证件号码：</li>-->
			<!--</ul>-->
			<!---->
			<!--<ul class="dealbottom">-->
				<!--<li>借款人自愿通过北京朴素磐石投资管理有限公司经营管理的“菠萝理财”平台（以下简称“平台”）向以下出借人借款。</li>-->
				<!--<li>借款合同编号为                ；借款期限为    天    月，借款起息日为       年    月   日；借款到期日为        年     月    日；实际募集期为      天。</li>-->
				<!--<li>借款人已仔细阅读并充分理解平台上登载的全部文件（包括但不限于服务协议、收费规则、隐私规则、使用条款、告知书）以及签署的《借款合同》及附件、补充协议等相关文件，借款人愿意完全遵守这些文件及随后修订版本中的各项规定，并愿意承担相应的法律责任。</li>-->
				<!--<li><b>出借人信息如下：</b></li>-->
			    <!--<table class="tablook" border="1" cellspacing="0"> -->
			        <!--<tr> -->
			            <!--<th>姓名</th> -->
			            <!--<th>手机</th> -->
			            <!--<th>订单号</th>-->
			            <!--<th>出借金额</th>-->
			            <!--<th>下单时间</th> -->
			            <!--<th>项目结束时间</th> -->
			        <!--</tr> -->
			        <!--<tr> -->
			            <!--<td></td> -->
			            <!--<td></td> -->
			            <!--<td></td>-->
			            <!--<td></td> -->
			            <!--<td></td> -->
			            <!--<td></td> -->
			        <!--</tr> -->
			    <!--</table> -->
				<!--<li>借款人： </li>-->
				<!--<li>日期：　 年　 月　 日</li>-->
			<!--</ul>-->
		</div>
	</body>
</html>
