<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<title>规则说明</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bank.css') }}"/>
	</head>
	<body>
		<div class="Whole">
			<div class="rule">
				<h2>赚红包攻略</h2>
				<div class="rule-com">
					<p><b>1.</b>每成功邀请一位好友注册并充值即可获得50元红包，邀请越多，红包越多，没有上限</p>
					<p><b>2.</b>只有您的好友通过推荐链接注册，您才能获得红包哦</p>
					<p><b>3.</b>建议复制链接分享到各个论坛，社区，QQ群等地方，可能会收到意想不到的惊喜</p>
				</div>
				<h1 class="invite">邀请红包使用规则</h1>
				
				<div class="dl-top">
					<p>邀请红包在被邀请人完成充值后即刻发放，请在我的账户-我的红包中查看，50元红包包含一个10元和两个20元红包。</p>
				</div>
				
				<div class="dl-center">
					<p>红包只能使用一次，投资1000元，即可使用10元红包；投资2000或5000元，即可使用20元红包；投资10000元，即可使用100元红包。</p>
				</div>
				
				<div class="dl-bottom">
					<p>邀请好友投资奖励收入=邀请好友投资本金*0.01*期限/360</p>
				</div>
				
				<div class="rule-com">
					<p><b>4.</b>红包不能提现，发送之日起30个自然日内有效。</p>
					<p><b>5.</b>所赠红包不可叠加使用，每笔投资只能使用一个红包。</p>
					<p><b>6.</b>对于恶意刷奖的用户，菠萝理财有权取消其活动资格，所得奖励不予承兑。</p>
				</div>
				
				<p class="copyright">*本规则最终解释权归菠萝理财所有</p>
			</div>
		</div>
	</body>
</html>
