@charset "utf-8";
/* CSS Document */
body{
	width: 100%;
	height: 100%;
	margin: 0;padding: 0;
	color:#606060;
	font-family:'Hiragino Sans GB','Microsoft Yahei',"WenQuanYi Micro Hei",SimSun,Tahoma,Arial,Helvetica,STHeiti;
	-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,html{
	font-size: 62.5%;
}
.wrap{
	max-width:64rem;
	margin:0 auto;
	background:#fff url(../images/bg@2x.jpg) no-repeat center top;
	background-size: 100%;
	overflow: hidden;
	margin-top: 0px;
}
.nav{
	width: 100%;
	height: 50px;
	background: #ffcb0f;
	position: relative;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
}
.nav>h1{
	text-align: center;
	line-height: 50px;
	font-size: 1.6rem;
	color: #fff;
}
.qd_rule{
    position: absolute;
    float: right;
    right: 2%;
    top: 12%;
	font-size: 1.4rem;
	background: url(../images/wen.png) no-repeat center left;
	background-size: 21%;
	padding-left: 5%;
}
.turn{
	position: absolute;
	left: 5%;
	line-height: 50px;
}
.turn>img{
	width: 75%;
	
}
.box_cet{
	width: 100%;
	margin-top: 128vmin;
}
.look-head{
	width: 80%;
	height: 45px;
	margin: 0 auto;
	color: #fff;
	margin-top: 3vmin;
}
.look-dla{
	width: 40%;
	float: left;
	margin-top: -0.6vmin;
	background: url(../images/icon_boluo@2x.png) no-repeat center;
	background-size: 100%;
}
.look-dla>dd{
	font-size: 3vmin;
	padding-top: 3.8vmin;
	float: right;
	padding-right: 10%;
}
.look-dlb{
	width: 40%;
	float: right;
	background: url(../images/icon_shaizi@2x.png) no-repeat center;
	background-size: 100%;
}
.look-dlb>dd{
	font-size: 3.2vmin;
	float: right;
	padding-right: 16%;
	padding-top: 3vmin;
}
/*转盘*/
.myBox{
	margin:0 auto;
	clear: both;
}
/*.cj1{*/
	/*background: url(../images/duihuanliebiao@2x.png) no-repeat center;*/
	/*background-size: 60%;*/
/*}*/
.xian{
	width: 60%;
	margin: 32% auto;
}
.is-center{
	width: 100%;
	height: 105px;
	overflow: hidden;
}
.is-center>div>p{
	width: 80%;
	margin: 0 auto;
	line-height: 22px;
	color: #f53041;
	font-size: 1.4rem;
}
.is-center>div>p>span{
	float: right;
}
.jiang{
	width: 100%;
	height: 30px;
	background: url(../images/anniu1@2x.png) no-repeat center;
	background-size: 40%;
}
.myBox ul{
	margin:0 auto 0;
	position:relative;
	width:100%;
	height:100px;
	overflow:hidden;
}
.myBox li{
	width:60px;
	height:60px;
	text-align:center;
	border-radius: 8px;
}
.myBox li>img{
	width:55px;
	height:55px;
}
.myBox li.on{
	/*background: url(../images/di@2x.png) no-repeat center;
	padding: 0 1px;*/
	opacity: 0.6;
}
.text{
	width:72%;
	height:66vmin;
	overflow:hidden;
	text-align: center;
	margin: 18vmin auto;
}
#roll{
	width: 80%;
	line-height: 32px;
	position: relative;
	margin: 10px auto;
	overflow: hidden;
}
#roll>p{
	width: 1500px !important;
	position: relative;
}
#roll>p>span{
	font-size: 3.2vmin;
	float: left;
	list-style: none;
	padding-right:60px;
	color: #fff;
}


.bt1>img{
	width: 80%;
	margin-top: 5vmin;
}
.readygo{
	width: 100%;
	background: url(../images/xib.png) no-repeat center;
	background-size: 100%;
	margin-bottom: 5%;
	padding-top: 10%;
}
.jg,.zt{
	color: #fff;
	background: #000;
	border-radius: 5%;
	position: absolute;
	top: 85%;
	left: 80%;
}
em{
	font-size:30px;
	font-style:normal;
	color:#fff;
}
/*骰子*/
.demo{
	width:100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color:rgba(0,0,0,0.6);
	display: none;
	z-index: 100;
}
.wrab{
	position:relative;
	margin: 86% auto;
}
.dice{
	width:33.33vmin;
	height:90px;
	background: url(../images/aa.png) no-repeat center top;
	float: left;
}
.dice_1{background-position:3vmin -4px}
.dice_2{background-position:3vmin -107px}
.dice_3{background-position:3vmin -212px}
.dice_4{background-position:3vmin -317px}
.dice_5{background-position:3vmin -427px}
.dice_6{background-position:3vmin -535px}
.dice_t{background-position:3vmin -651px}
.dice_s{background-position:3vmin -763px}
.dice_e{background-position:3vmin -876px}
p#result{
	font-size:16px;
	color: #fff;
	padding-top: 22%;
}
p#result span{
	font-weight:bold; 
	color:#f30; 
	margin:6px;
}
#dice_mask{
	width:90px; 
	height:90px; 
	background:#fff; 
	opacity:0; 
	position:absolute; 
	top:0; 
	left:0; 
	z-index:999;
}
.look-nab{
	margin-top: 5%;
	margin-left: 6%;
	margin-bottom: 5%;
}
.look-nab>img{
	width: 35%;
}
.award{
	float: right;
	width: 12%;
	margin-right: 16%;
	margin-top: 3vmin;
}
.get{
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	z-index: 100;
	display: none;
}
.minget{
	width: 80%;
	height: 260px;
	background: #fff;
	border-radius: 10px;
	position: absolute;
	top: 30%;
	left: 10%;
}
.get-top{
	width: 100%;
	height: 50px;
	background: #02abe4 url(../images/title@2x.png) no-repeat center;
	background-size: 32%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.noget{
	width: 6%;
	position: absolute;
	right: 5%;
	top: 5%;
}
#page_navigation{
	position: absolute;
	bottom: 5px;
	left: 10%;
}
#page_navigation a{
	margin: 6px;
}
#content{
	width: 100%;
	height: 196px;
	display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#content>div>p{
	line-height: 32px;
	color: #333;
	padding: 0 5%;
	font-size: 3vmin;
}
#content>div>p>span{
	float: right;
}
#content>div>p:nth-child(even){
	background: #efefef;
}

/*.look-cent{
	width: 75%;
	height: 150px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10%;
}
.look-cent>li{
	font-size: 1.4rem;
}
.look-cent>li>span{
	float: right;
}*/
.look-cent{
	width: 75%;
	height: 150px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 10%;
	line-height: 38px;
	font-size: 12px;
}
.look-cent>ul>li{
	font-size: 1.4rem;
	list-style: none;
}
.look-cent>ul>li>span{
	float: right;
}

.fenxleft{
	width: 60px;
	height: 60px;
	background: url(../images/icon_fenxiang@2x.png) no-repeat center top;
	background-size: 80%;
	position: absolute;
	top: 10px;
	left: 5%;
}
.fenxright{
	width: 60px;
	height: 60px;
	background: url(../images/icon_guize@2x.png) no-repeat center top;
	background-size: 100%;
	position: absolute;
	top: 30px;
	right: 0;
}
.rulecent{
	width: 100%;
	height: 116vmin;
	background: url(../images/guize@2x.png) no-repeat center top;
	background-size: 95%;
	margin: 0 auto;
	position: relative;
	top: 20%;
	left: 0;
}
.lower-screen{
	width: 75%;
	height: 76vmin !important;
	overflow: hidden;
	position: absolute;
	top: 30%;
	left: 12%;
}
.lower-screen>ul>li{
	font-size: 3.3vmin;
	color: #fff;
	line-height: 31px;
}
.fanh{
	width: 50px;
	height: 50px;
	position: absolute;
	right: 1%;
	top: 16%;
}
.prize{
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	display: none;
	z-index:101;
}
.hidden{
	/*display: none;*/
}
/*.prize0{*/
	/*width: 100%;*/
	/*height: 60%;*/
	/*position: absolute;*/
	/*left: 0;*/
	/*top: 3%;*/
	/*background: url(../images/18dikou@2x.png) no-repeat center bottom;*/
	/*background-size: 70%;*/
	/*display: none;*/
/*}*/
.prize1{
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	top: 3%;
	background: url(../images/20huafei@2x.png) no-repeat center bottom;
	background-size: 70%;
	display: none;
}
.prize2{
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	top: 3%;
	background: url(../images/8boluo@2x.png) no-repeat center bottom;
	background-size: 70%;
	display: none;
}
.prize3{
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	top: 3%;
	background: url(../images/iPhone7.png) no-repeat center bottom;
	background-size: 70%;
	display: none;
}
.prize4{
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	top: 3%;
	background: url(../images/88xianjin@2x.png) no-repeat center bottom;
	background-size: 70%;
	display: none;
}
.prize5{
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	top: 3%;
	background: url(../images/58licai@2x.png) no-repeat center bottom;
	background-size: 70%;
	display: none;
}
.prize6{
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	top: 3%;
	background: url(../images/188boluo@2x.png) no-repeat center bottom;
	background-size: 70%;
	display: none;
}
.prize7{
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	top: 3%;
	background: url(../images/168licai@2x.png) no-repeat center bottom;
	background-size: 70%;
	display: none;
}
.prize8{
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	top: 3%;
	background: url(../images/1boluo@2x.png) no-repeat center bottom;
	background-size: 70%;
	display: none;
}
.prize9{
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	top: 3%;
	background: url(../images/1jiaxi@2x.png) no-repeat center bottom;
	background-size: 70%;
	display: none;
}
.prize10{
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	top: 3%;
	background: url(../images/50huafei@2x.png) no-repeat center bottom;
	background-size: 70%;
	display: none;
}
.prize11{
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	top: 3%;
	background: url(../images/1888boluo@2x.png) no-repeat center bottom;
	background-size: 70%;
	display: none;
}
.prize12{
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	top: 3%;
	background: url(../images/mini4.png) no-repeat center bottom;
	background-size: 70%;
	display: none;
}
.prize13{
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	top: 3%;
	background: url(../images/8xianjin@2x.png) no-repeat center bottom;
	background-size: 70%;
	display: none;
}
.prize14{
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	top: 3%;
	background: url(../images/18licai@2x.png) no-repeat center bottom;
	background-size: 70%;
	display: none;
}
.prize15{
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	top: 3%;
	background: url(../images/0.6jiaxi@2x.png) no-repeat center bottom;
	background-size: 70%;
	display: none;
}
.prize16{
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	top: 3%;
	background: url(../images/18boluo@2x.png) no-repeat center bottom;
	background-size: 70%;
	display: none;
}
.quer{
	width: 25%;
	position: absolute;
	left: 38%;
	bottom: 3%;
}
/*签到*/
.sign{
	max-width:64rem;
	margin:0 auto;
	overflow: hidden;
}
.qiand{
	width: 100%;
	height: 130px;
	background: #E08E0B;
}
.qian{
	width: 65%;
	height: 70%;
	margin-top: 5%;
	float: left;
}
.qian>dt{

	float: left;
}
.qian>dt>img{
	width: 60%;
	margin-left: 20%;
	margin-top: 10%;
}
.qian>dd{
	margin-top: 5%;
	color: #fff;
}
.qian>dd>p{
	font-size: 3.6vmin;
	line-height: 30px;
}
/*.qbtn{
	width: 30%;
	height: 50px;
	background: #ffcb0f;
	border-radius: 10px;
	float: right;
	font-size: 1.8rem;
	color: #fff;
	margin-top: 9%;
	margin-right: 5%;
}*/
.qhead{
	width: 100%;
	height: 55px;
	line-height: 55px;
	background: #fff;
}
.qdl{
	float: left;
	margin-left: 2%;
}
.qdl>dt{
	float: left;
	line-height: 55px;
}
.qdl>dt>img{
	padding-left: 10%;
	width: 68%;
}
.qdl>dd{
	float: right;
	font-size: 1.8rem;
	line-height: 60px;
	color: #FF8B0F;
}
.qp{
	float: right;
	margin-right: 5%;
	font-size: 3vmin;
	color: #888;
}
.checkBtn{
	width: 80px;
	height: 35px;
	background: #ffcb0f;
	border-radius: 5px;
	float: right;
	margin-top: 11%;
	margin-right: 5%;
	font-size: 1.4rem;
	color: #fff;
}
.title> .checkBtn{
	display: none;
}
.qtan{
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	display: none;
}
ul,li{list-style:none; color: #fff; font-size: 1.6rem;}
.checkin{
	width: 90%;
	margin-top: 36%!important;
	margin: 0 auto;
	display: none;
}
.checkin li{
	float: left;
	width:	14%!important;
	padding: 10px;
	text-align: center;
}
.clear {clear:both; height:0; overflow:hidden; display:block; line-height:0}
.clearfix:after {clear:both;font-size:0; height:0; display:block; visibility:hidden; content:" "; line-height:0}
.clearfix {zoom:1}/* for IE6 IE7 */
.title{height: 36px;line-height: 36px;font-size: 16px;margin-bottom: 10px;}
.title p{
	width: 95%;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	text-align: center;
	background: url(../images/icon_X@2x.png) no-repeat center right;
	background-size: 5%;
	margin: 0 auto;
	
}
.title a{
	display: inline-block;
	width: 20%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #42941a;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	position: relative;
	top: -35px;
}


/*li.able-qiandao{background: #e9c530;}*/
li.checked{
	background: url(../images/icon_rili@2x.png) no-repeat center bottom;
	background-size: 25px;
}
{	visibility: hidden;
	transition: all 0.25s ease;
}

a.closeBtn{
	display: block;
	position: absolute;
	right: 10px;
	top: 5px;
	font-family: 'simsun';
	font-size: 18px;
	text-decoration: none;
	font-weight: bolder;
	color: #333;
}
.title_h1{
	text-align: center;
	font-size: 40px;
	font-weight: normal;
	padding-top: 80px;
	display: block;
	width: 100%;
}
.title_h1 span{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background: #42941a;
	color: #fff;
	position: relative;
	float: left;
	margin-left: 30%;
	margin-top: 7px;
}
.title_h1 span::before{
	width: 10px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 8px;
	top: 23px;
	display: block;
	line-height: 0;
	font-size: 0;
	content: ""; 
	transform: rotate(52deg);
}
.title_h1 span::after{
	width: 24px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 12px;
	top: 20px;
	display: block;
	line-height: 0;
	font-size: 0;
	content: "";
	transform: rotate(-45deg);
}
.title_h1 em{
	display: inline-block;
	font-size: 30px;
	float: left;
	margin-left: 10px;
}
.title_h1 i{
	display: inline-block;
	font-size: 16px;
	float: left;
	margin: 14px 0 0 10px;
}
.trf{visibility: visible;}
.modal{
	display: none;
}
.week{
	width: 100%;
}
.week>li{
	line-height: 33px;
}
.ban-b{
	width: 100%;
}
.ban_b{
	width: 100%;
	margin-top: 2%;
}
.commodity{
	width: 100%;
	background: #fff;
	margin-top: 2.5%;
}
.int{
	font-size: 1.5rem;
	border-bottom: 1px solid #eee;
}
.int>span{
	float: right;
}

.quan{
	font-size: 3.6vmin;
	margin-left: 3%;
}
.icons_rook{
	width:0.5rem;
	height:0.5rem;
	display:inline-block;
	background:#ffcb0f;
	vertical-align:middle;
	float: left;
	margin-left: 3%;
    margin-top: 3.8vmin;
	margin-right: 2%;
}
.int_jifen{
	width: 100%;
}
.jif{
	width: 60%;
	margin: -10px auto;
}
.jif>dt{
	float: left;
}
.jif>dt>img{
	width: 25px;
}
.jif>dd{
	padding-top: 3%;
}
.duih{
	width: 80%;
	height: 30px;
	background: #ffcb0f;
	clear: both;
	font-size: 1.5rem;
	color: #fff;
	border-radius: 5px;
	margin: auto;
    line-height: 30px;
}
.duih a{
	color: #fff;
}

.int-gral{
	width: 33.33%;
	height: 94%;
	float: left;
	padding-top: 3%;
	background: #fff;
}
.int-gral>dt{
	width: 80%;
	/*height: 100px;*/
	background: #ccc;
	margin: 0 auto;
	text-align: center;
	/*line-height: 100px;*/
}
.int-gral>dt>img{
	width: 30%;
}
.int-gral>dd{
	width: 60%;
	text-align: center;
	margin: 0 auto;
	font-size: 1.4rem;
}
.int_gral{
	width: 49.8%;
	float: left;
	padding-top: 3%;
	background: #fff;
	padding-bottom: 2%;
	border-bottom: 1px solid #eee;
}
.int_gral:nth-child(odd) {
    border-right: 1px solid #eee;
}
.int_gral>dt{
	width: 80%;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	line-height: 100px;
}
.int_gral>dt>img{
	width: 100%;
}
.int_gral>dd{
	width: 80%;
	text-align: center;
	margin: 0 auto;
	font-size: 1.4rem;
}
.intgral{
	width: 100%;
	height: 86px;
	background: #fff;
	border-bottom: 1px solid #eee;
	clear: both;
}
.intgral>dt{
	width: 30%;
	float: left;
}
.intgral>dt>img{
	width: 100%;
}
.intgral>dd{
	width: 70%;
	float: right;
}
.xianl{
	width: 50%;
	float: left;
	text-align: center;
}
.xianl>p{
	font-size: 1.4rem;
}
.kucun{
	width: 100%;
	clear: both;
	margin-left: 5vmin;
	font-size: 3.8vmin;
	margin-bottom: 2%;
}
.gpic{
	width: 58%;
}
.gpic>dd{
	font-size: 1.4rem;
}
.exchange{
	width: 60%;
	height: 30px;
	background: #ffcb0f;
	clear: both;
	font-size: 1.5rem;
	color: #fff;
	border-radius: 5px;
}
.translate{
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	display: none;
}
.late{
	position:fixed;
	width:70%;
	height: 160px;
	border-radius: 5px;
	top: 35%;
	left: 15%;
	background:#fff;
	text-align: center;
}
.late>p{
	font-size: 4.2vmin;
	margin: 13%;
}

/*兑换中心*/
.conver{
	width: 100%;
	height: 150px;
	background: #fff;
	border-bottom: 1px solid #eee;
}
.conver>dt{
	width: 40%;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 150px;
}
.conver>dt>img{
	width: 100%;
}
.conver>dd{
	width: 60%;
	height: 100%;
	float: left;
	padding-top: 30px;
}
.conver>dd>p{
	clear: both;
}
.conver>dd>span{
	color: #ff8b0f;
	font-size: 1.6rem;
}
.look-ap{
	font-size: 1.6rem;
	color: #333;
}
.look-bp{
	font-size: 1.4rem;
	color: #666;
}
.jifen{
	margin: -10px auto;
}
.jifen>dt{
	float: left;
}
.jifen>dt>img{
	width: 25px;
}
.jifen>dd{
	padding-top: 1%;
	font-size: 1.6rem;
	color: #538210;
}
/*商品详情*/
.look-ban{
	width: 100%;
}
.look-list{
	width: 100%;
	padding-bottom: 5%;
}
.once{
	width: 120px;
	height: 40px;
	background: #ffcb0f;
	border-radius: 5px;
	float: right;
	margin-right: 5%;
	margin-top: 3%;
	font-size: 1.4rem;
	color: #fff;
}
.headline{
	clear: both;
	width: 90%;
	height: 40px;
	border-bottom: 1px solid #eee;
	background: url(../images/hengt.png) no-repeat center left;
	background-size: 1%;
	margin: 0 auto;
	padding-left: 3%;
	font-size: 1.6rem;
}
.shangp{
	width: 90%;
	margin: 0 auto;
	font-size: 1.4rem;
	line-height: 26px;
	margin-top: 3%;
	margin-bottom: 5%;
}
/*弹窗*/
.explain{
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	display: none;
}
.togg{
	position:fixed;
	width:80%;
	height: 180px;
	border-radius: 5px;
	top: 35%;
	left: 10%;
	background:#fff;
	text-align: center;
}
.togg>p:nth-child(2){
	color: #666;
	font-size: 1.6rem;
}
.togg_two{
	position:fixed;
	width:80%;
	height: 180px;
	border-radius: 5px;
	top: 35%;
	left: 10%;
	background:#fff;
	text-align: center;
}
.togg_two>p:nth-child(2){
	color: #666;
	font-size: 1.6rem;
}
.reset{
	margin-top: 1.5rem;
}
.reset>img{
	width: 15%;
}
.bttn{
	width: 100%;
	height: 50px;
	border-top: 1px solid #eee;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #ffcb0f;
	font-size: 1.8rem;
}
/*明细*/
.tab_menu{
	overflow:hidden;
	margin-bottom: 10px;
}
.tab_menu li{
	width:50%;
	height:50px;
	background: #fff;
	float:left;
	line-height:50px;
	color:#333;
	text-align:center;
	cursor:pointer;
}
.tab_menu li.current{
	color:#ffcb0f;
	border-bottom: 1px solid #ffcb0f;
}
.tab_menu li a{
	color:#fff;
	text-decoration:none;
}
.tab_menu li.current a{color:#333;}

.tab_box .hide{display:none;}
.details{
	width: 100%;
	background: #fff;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-orient: vertical;
}
.tail-ul{
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-pack: justify;
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #eee;
}
.tail-ul>li{
	width: 33.33%;
	text-align: center;
}
.tail-ul>li:first-child{
	font-size: 3.8vmin;
	color: #666;
}
.tail-ul>li:nth-child(2){
	font-size: 3.8vmin;
	color: #999;
}
.tone{
	font-size: 3.8vmin;
	color: #de2400;
}
.tail-ul>li>img{
	width: 25%;
}
.neon{
	position: absolute;
	top: 0;
}
.lingtop{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #fff;
	text-align: center;
	font-size: 3.8vmin;
	margin-bottom: 10px;
}
/*温馨提示*/
.cozy{
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	display: none;
}
.prompt{
	width: 80%;
    background: #fff;
    border-radius: 6px;
    margin: 0 auto;
    position: relative;
    top: 32%;
    padding-bottom: 15vmin;
}
.prompt>p{
	font-size: 4.2vmin;
	text-align: center;
    margin-bottom: 5%;
}
.prompt>p:first-child{
	font-weight: bold;
	padding-top: 10px;
}
.invest{
    width: 60%;
    height: 40px;
    background: #ffcb0f;
    border-radius: 50px;
    position: absolute;
    left: 20%;
    bottom: 5vmin;
    font-size: 3.8vmin;
    color: #fff;
}