<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<title>菠萝明细</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/xinnian.css') }}"/>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/js.js') }}"></script>
	</head>
	<body>
		<div class="sign demo2">
			<div class="nav">
				<a href="/v1/activity/store/{{renderData.phone}}" class="turn"><img src="{{ url_for('static', filename='images/icon_jiantou@2x.png') }}" /> </a>
				<h1>菠萝明细</h1>
			</div>
			<ul class="tab_menu">
				<li class="current">收入记录</li>
				<li>支出记录</li>
			</ul>

			<div class="tab_box">
				<div class="details">
					{% for p in renderData['shouru_list'] %}
					<ul class="tail-ul">
						<li>{{p.description}}</li>
						<li>{{p.time}}</li>
						<li><img src="{{ url_for('static', filename='images/icon_boluo2@2x.png') }}" /><span class="tone">+{{p.score}}</span> </li>
					</ul>
					{% endfor %}
				</div>

				<div class="details hide">
					{% for p in renderData['zhichu_list'] %}
					<ul class="tail-ul">
						<li>{{p.description}}</li>
						<li>{{p.time}}</li>
						<li><img src="{{ url_for('static', filename='images/icon_boluo2@2x.png') }}" /><span class="ttwo">-{{p.score}}</span> </li>
					</ul>
					{% endfor %}
				</div>
				
			</div>
		</div>
		<script type="text/javascript">
		$(function(){
			$('.demo2').Tabs({
				event:'click'
			});
		});
		</script>
	</body>
</html>
