<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>组织架构</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<META HTTP-EQUIV="pragma" CONTENT="no-cache">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/disclo.css') }}"/>
	</head>
	<body style="background: #fff;">
		<div class="jiag">
        	<h1>组织架构</h1>
        	<ul class="hemox">
        		<li class="hong">风控委员会</li>
        		<li class="huang">运营中心</li>
        		<li class="lan">研发中心</li>
        	</ul>
        	<ul class="hemox">
        		<li class="shen">战略合作部</li>
        		<li class="lv">人力资源部</li>
        		<li class="hong">财务部</li>
        	</ul>
        	<ul class="hemox">
        		<li class="huang">法务部</li>
        		<li class="lan">行政部</li>
        	</ul>
        	<table class="biaog" border="1" cellpadding="0" cellspacing="0" width="100%">
        		<tr>
					<th height="30" colspan="2" style="font-size:3.6vmin;text-align:center;font-weight: bold;">实际控制人与持股5%以上的股东名单</th>
				</tr>
				<tr>
					<th>实际控制人</th>
					<td>孙志远</td>
				</tr>
				<tr>
					<th>持股5%以上的股东</th>
					<td>孙志远 北京蓝鼎贸易公司</td>
				</tr>
			</table>
			<table class="biaog" border="1" cellpadding="0" cellspacing="0" width="100%">
        		<tr>
					<th height="30" colspan="2" style="font-size:3.6vmin;text-align:center;font-weight: bold;">董事、监事人员名单</th>
				</tr>
				<tr>
					<th>执行董事/<br />总经理</th>
					<td>孙志远</td>
				</tr>
				<tr>
					<th>监事</th>
					<td>张晓宇</td>
				</tr>
			</table>
    	</div>
	</body>
</html>
