<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册协议</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/disclo.css') }}"/>
	</head>
	<body>
		<div class="zhuce">
        	<h1>注册协议</h1>
        	<ul class="xieyi">
        		<li>菠萝理财（www.boluolc.com）隶属于北京朴素磐石投资管理有限公司。（简称“菠萝理财”）
在您注册成为菠萝理财用户前，请您确认已认真、仔细阅读并充分理解本《菠萝理财注册协议》（以下简称“本协议”）的所有条款、内容。在您同意以下条款并注册后，您有权依据本协议的条款享受本平台的服务，同时有义务接受本协议条款的约束。</li>
				<b>一、本协议的签署和修订</b>
				<li>1.1 本协议的内容包括以下全部条款以及本平台已经发布的及将来可能发布的与注册用户有关的各项规则、协议（以下统称为“规则”），该等规则均为本协议不可分割的一部分，与本协议具有同等法律效力。</li>
				<li>1.2 本平台有权根据需要修改本协议的内容，如本协议条款或本平台各项规则有任何变更，本平台将发布公告。经修订的内容一经公告，即于公告规定的特定生效日期自动生效。请您适时关注本平台公告，如不同意该等变更，请您在该等变更的公告刊载之日起72小时内联系本平台客服明确表明希望终止本协议，本平台收到申请后将与您协商本协议的终止以及终止后双方义务的履行。如您未在本款所述时限内提出申请，则视为您已经同意接受该等变更，经修订的规则一经公告，即于公告规定的特定生效日期自动生效将对您产生法律约束力。</li>
				<li>1.3 您注册或使用本服务，即视为您已经充分理解和同意本协议全部条款、内容及各类规则。在您按照本平台的流程成功注册后，本协议即产生法律效力，您在此同意将全面接受和履行以电子形式签订本协议，您不得以未签署纸质协议为由否认本协议的效力。本协议是由您与本平台共同签订的，适用于您在本平台的全部活动。在您成功注册成为本平台用户时，您已经阅读、理解并接受本协议的全部条款及各类规则，如有违反而导致的任何法律后果，您将以自己的名义独立承担相应的法律责任。</li>
				<li>1.4 本协议不涉及您与本平台的其他注册用户之间因网上交易而产生的法律关系及法律纠纷，相关纠纷由您自行解决，本平台不承担任何责任。</li>
				<li>1.5 您在此同意将全面接受和履行与本平台以电子形式签订的任何法律文件，并承诺按该等法律文件享有和/或放弃相应的权利、承担和/或豁免相应的义务。</li>
				<b>二、用户注册</b>
				<li>2.1 作为本平台注册用户，您必须是符合中华人民共和国（以下简称“中国”）法律规定的具有完全民事权利能力及民事行为能力的自然人，或是经国家主管部门合法登记注册的、且具有完全民事权利能力及民事行为能力的法人。否则，您应立即停止注册、停止使用本平台服务，本平台有权随时终止您的注册进程、停止提供服务，您应对您的注册行为给本平台带来的全部损失承担赔偿责任，且您的监护人（适用于自然人）应承担连带责任。</li>
				<li>2.2 您应提供真实身份信息且通过本平台认证后方可完成注册，您应保证向本平台提供的资料（包括但不限于电子邮箱地址、联系电话、联系地址、邮政编码、个人身份信息、征信信息、营业执照、组织机构代码证、税务登记证等）是真实、准确、完整、最新的。如您的资料发生变更，您应及时向本网站更新相应的资料，如因您未及时更新资料导致本平台无法向您提供服务或发生错误，由此导致的全部法律责任和后果将由您自行承担。</li>
				<li>2.3 您承诺，在提交用户名、头像和简介等注册信息中不得出现违法和不良信息，不得有下列情形：<br />
					（1）违反宪法或法律法规规定的；<br />
					（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br />
					（3）损害国家荣誉和利益的，损害公共利益的；<br />
					（4）煽动民族仇恨、民族歧视，破坏民族团结的；<br />
					（5）破坏国家宗教政策，宣扬邪教和封建迷信的；<br />
					（6）散布谣言，扰乱社会秩序，破坏社会稳定的；<br />
					（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；<br />
					（8）侮辱或者诽谤他人，侵害他人合法权益的；<br />
					（9）含有法律、行政法规禁止的其他内容的。<br />
					对含以上或其他违法和不良信息的，本平台有权采取不予注册、通知您限期改正、暂停账号使用、关闭账户等措施。
				</li>
				<li>2.4 如您使用他人资料注册、使用本网站服务或向本平台提供的资料不符合2.2款、2.3款规定，由此引起的一切责任和后果均由您本人承担，本平台不承担任何法律责任。如因此给本平台及相关方造成任何损失，您应当承担赔偿责任。同时，本平台有权向互联网信息内容主管部门报告。</li>
				<li>2.5 本平台只允许每位用户使用一个菠萝理财账户。如有证据证明或本平台有理由相信您存在不当注册或不当使用多个本平台账户的情形，本平台可采取关闭账户、拒绝提供服务等措施，如给本平台及相关方造成损失的，您还应承担赔偿责任。</li>
				<li>2.6 您承诺，应履行下列义务：<br />
					（1）向本平台提供真实、准确、完整的身份等信息；<br />
					（2）出借资金为来源合法的自有资金；<br />
					（3）了解融资项目信贷风险，确认具有相应的风险认知和承受能力；<br />
					（4）自行承担借贷产生的本息损失；<br />
					（5）借贷合同及有关协议约定的其他义务。
				</li>
				<b>三、 本平台的服务内容</b>
				<li>3.1 本平台将向您提供以下服务中的一项或多项：(1) 撮合您与借款人形成直接借贷交易的居间服务；(2) 您与借款人的信息采集整理、甄别筛选、网上发布；（3）您与借款人的风险承受能力及资信评估； （4）您对借款人的既有债权的转让； (5) 其他相关服务。本网站向您提供服务的具体内容由本网站与您另行签署的《菠萝理财投资咨询与管理服务协议》及其他协议约定。</li>
				<li>3.2 部分服务内容需要您根据本平台要求完成银行卡认证，未进行银行卡认证的用户将无法使用该部分服务。因未能完成认证而无法享受服务造成的损失，本平台不承担任何责任。</li>
				<li>3.3 对于本平台向您提供的服务是否收取服务费、服务费的具体标准和规则以本平台不时公布的规则为准。</li>
				<b>四、 用户使用限制</b>
				<li>4.1 您不得利用本平台或本平台服务从事任何不符合中国法律法规或侵犯他人权益的活动。本平台在发现您从事该等活动时，有权不经通知而立即停止您使用本平台的全部或部分功能。</li>
				<li>4.2 在使用本平台提供的服务过程中，您不得发送、公布或展示任何垃圾邮件或其他可能违反中国法律法规及本协议内容的信息。本平台在发现您从事该行为时，有权不经您同意而阻止该活动、删除相关内容，并立即暂停或停止您使用本平台的全部或部分功能。</li>
				<li>4.3 您向本平台提交的用户名、密码、手机号及安全问题答案是您在本平台的身份识别信息，您应妥善保管。您注册成功后，除非本协议另有约定，否则不得将身份识别信息转让或授权给第三方使用。您确认，使用您的身份识别信息登陆本平台后在本平台的一切行为均代表您本人并由您承担相应的法律后果。</li>
				<li>4.4 本平台的所有内容，包括但不限于文本、数据、图片、音频、视频、源代码和其他所有信息，均由本平台享有知识产权。未经本平台事先书面同意，您或其他任何人不得复制、改编、传播、公布、展示或以任何其他方式侵犯本平台的知识产权。</li>
				<b>五、 用户信息的保护及披露</b>
				<li>5.1 您同意本平台在业务运营中收集和储存您的用户信息，包括但不限于您自行提供的资料和信息，以及本平台自行收集、取得的您在本平台的交易记录和使用信息等。本平台收集和储存您的用户信息的主要目的在于提高为您提供服务的效率和质量。</li>
				<li>5.2 您同意本平台在业务运营中使用您的用户信息，包括但不限于(1)根据双方另行签署的《菠萝理财投资咨询与管理服务协议》在本平台公示您的相关信息；(2)向本平台的合作机构（该合作机构仅限于本平台为了完成拟向您提供的服务而合作的机构）提供您的用户信息；(3)由人工或程序自动对您的信息进行评估、分类、研究；(4)使用您的用户信息以改进本平台的推广；以及(5)使用您提供的联系方式与您联络并向您发送有关业务和管理方面的信息。本平台将不定期对用户信息进行抽查、核实以识别问题或解决争议，特别是本平台将审查您的资料以区分使用多个用户名或别名的同一用户。</li>
				<li>5.3 本平台将采用行业标准惯例以保护您的用户信息，包括建立相应的信息保护制度和机制等，但您应了解，上述保护措施可能受技术水平限制而不能确保您的信息不会通过本协议中未列明的途径泄露出去，本平台不承担因此而导致的任何损失或责任。</li>
				<li>5.4 本平台有义务在行政、司法等有权机关要求时向该等机关提供您的用户信息。</li>
				<b>六、 免责条款</b>
				<li>6.1 您应了解，无论您通过本平台形成的借贷关系是否存在第三方担保，本平台及本平台的关联方董事、员工、代理人均未以任何明示或默示的方式对您通过本平台形成的借贷交易及其履行提供任何担保或承诺。本平台接受信息发布方的委托进行信息发布，仅对发布的信息承担形式审查责任，不对信息的准确、完整、合法性作出任何保证，也不承担相关责任，您应依据独立判断及自身风险承受能力衡量相关信息并选择相应的投资产品，您通过本平台形成的任何借贷交易所产生的直接及间接的损失均由您自行承担。</li>
				<li>6.2 因非本平台原因造成您的身份识别信息泄露，或您发现有他人冒用或盗用您的菠萝理财账户或进行任何其他未经合法授权行为之情形时，您应立即以书面形式通知本平台并要求本平台暂停服务，以减少可能发生的损失。本平台将积极响应您的要求；但您理解，对您的要求采取行动需要合理期限，在此之前，本平台对已执行的指令及所导致的您的损失不承担任何责任。</li>
				<li>6.3 您在使用本平台服务过程中涉及由第三方提供相关服务的责任由第三方承担，本平台不承担该等责任。您应自行对第三方提供相关服务的内容、产品及其他任何信息进行判断，并承担相应风险。</li>
				<li>6.4 如果由于本平台及相关第三方的设备、系统故障或缺陷、病毒、黑客攻击、网络故障、网络中断、地震、台风、水灾、海啸、雷电、火灾、瘟疫、流行病、战争、恐怖主义、敌对行为、暴动、罢工、交通中断、停止供应主要服务、电力中断、经济形势严重恶化、政府管制或其它类似事件，致使本平台未能履行本协议或履行本协议不符合约定，不构成本平台的违约，对于因此导致的损失，本平台将不承担任何责任。</li>
				<b>七、 通知及信息接收</b>
				<li>7.1 本协议项下的通知如以公示方式作出，一经在本平台公示即视为已经送达。除此之外，其他具有专属性的通知将发送至您菠萝理财账户中的“通知中心”（名称以本平台显示为准）、或您在注册时绑定的手机号、或您提供的电子邮箱地址（如已提供），一经发送即视为已经送达。请您密切关注相关信息。</li>
				<li>7.2 您注册成为本平台用户及您实际使用本平台提供的各项服务时，即视为您已同意本平台向您发送电子信息，此类信息所涉及的内容包括但不限于以文字、图片、照片、音视频形式表现的各类产品信息、宣传信息、促销信息、商业信息等，本平台将通过包括但不限于本平台内信、电子邮件、短信息等形式向您发送此类信息。若您不希望接收来自本平台的此类信息，则可按照信息中注明的方法自助完成退订或联系本平台客服协助处理。</li>
				<b>八、 违约责任</b>
				<li>如果您违反了您在本协议中所作的陈述、保证、承诺或任何其他义务，致使本平台或本平台的股东、实际控制人、员工、其他用户承受任何损失，您应向受损失的一方做出全额赔偿。</li>
				<b>九、 适用法律和管辖</b>
				<li>本协议的订立、执行和解释适用中国大陆地区适用的法律（但不包括其冲突法规则），与本协议的解释和履行有关的争议应由北京朴素磐石投资管理有限公司住所地具有管辖权的人民法院管辖。</li>
				<b>十、 终止</b>
				<li>10.1 除非本平台终止本协议、您申请终止本协议并关闭您的菠萝理财账户且经本平台同意，否则本协议始终有效。在您违反了本协议、相关规则，或在相关法律法规、政府部门的要求下，本平台有权通过本协议第七条约定的通知方式通知您终止本协议、关闭您的菠萝理财账户或者限制您使用本平台。</li>
				<li>10.2 当您不再符合本协议第二条约定的注册用户身份条件（包括但不限于因故身亡、丧失民事行为能力、解散或注销等）致使本协议无法继续履行时，本协议依法终止。您的合法授权代表、继承人、监护人、直系亲属在提交相关证明文件后，可向本平台申请查询您在本平台注册的用户信息及交易信息，并办理资产的转移。同时，本平台有权关闭您的菠萝理财账户。</li>
				<li>10.3 您同意，本协议终止后，本平台仍享有下列权利：（1）继续保存您留存于本平台的各类信息；（2）对于您过往的违约行为，本平台仍可依据本协议向您追究违约责任。</li>
				<b>十一、 其他</b>
				<li>11.1 若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效</li>
				<li>11.2 本平台可将本协议项下的权利义务转让给本平台的关联方。</li>
				<li>11.3 北京朴素磐石投资管理有限公司有权在法律允许的范围内对本协议的各条款做出解释。</li>
        	</ul>
    	</div>
	</body>
</html>
