<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>重大事项</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<META HTTP-EQUIV="pragma" CONTENT="no-cache">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/disclo.css') }}"/>
	</head>
	<body style="background: #fff;">
		<div class="zhongd">
        	<h1>重大事项信息</h1>
    		
    		<div class="history">
				<div class="history-date">
					<ul>
						<h2 class="first">
							今天
						</h2>
						<li>
							<h3>2017年12月</h3>
							<dl>
								<dt>菠萝理财与恒泰曹妃甸能源有限公司达成战略合作</dt>
							</dl>
						</li>
						<li>
							<h3>2017年10月</h3>
							<dl>
								<dt>菠萝理财三周年庆 感恩有您投资人见面会成功举行</dt>
							</dl>
						</li>
						<li>
							<h3>2017年8月</h3>
							<dl>
								<dt>菠萝理财获国家高新技术企业认证</dt>
							</dl>
						</li>
						<li>
							<h3>2017年7月</h3>
							<dl>
								<dt>菠萝理财获公安机关互联网站备案</dt>
							</dl>
						</li>
						<li>
							<h3>2017年6月</h3>
							<dl>
								<dt>菠萝理财与中荣援和股份有限公司签署战略合作协议</dt>
							</dl>
						</li>
						<li>
							<h3>2017年6月</h3>
							<dl>
								<dt>菠萝理财获批ICP经营许可证</dt>
							</dl>
						</li>
						<li>
							<h3>2017年6月</h3>
							<dl>
								<dt>菠萝理财通过公安部信息安全等级保护三级认证</dt>
							</dl>
						</li>
						<li>
							<h3>2017年5月</h3>
							<dl>
								<dt>菠萝理财获“中国互联网金融诚信示范企业”荣誉称号</dt>
							</dl>
						</li>
						<li>
							<h3>2017年4月14日</h3>
							<dl>
								<dt>菠萝理财正式加入中国互联网金融企业家俱乐部</dt>
							</dl>
						</li>
						<li>
							<h3>2017年4月5日</h3>
							<dl>
								<dt>菠萝理财携手新网银行正式签订资金存管服务协议</dt>
							</dl>
						</li>
						<li>
							<h3>2017年3月</h3>
							<dl>
								<dt>菠萝理财与国内电子数据保全服务品牌易保全达成战略合作</dt>
							</dl>
						</li>
						<li>
							<h3>2017年1月19日</h3>
							<dl>
								<dt>荣获“中关村高新技术企业认证”证书</dt>
							</dl>
						</li>
						<li>
							<h3>2016年12月21日</h3>
							<dl>
								<dt>深圳前海股权交易中心正式挂牌</dt>
							</dl>
						</li>
						<li>
							<h3>2016年10月</h3>
							<dl>
								<dt>中能资本战略投资菠萝理财</dt>
							</dl>
						</li>
						<li>
							<h3>2016年6月</h3>
							<dl>
								<dt>菠萝理财APP2.0上线</dt>
							</dl>
						</li>
						<li>
							<h3>2016年1月15日</h3>
							<dl>
								<dt>菠萝理财手机APP上线</dt>
							</dl>
						</li>
						<li>
							<h3>2016年1月9日</h3>
							<dl>
								<dt>菠萝理财荣获2015年度互联网金融消费者权益保护示范单位奖</dt>
							</dl>
						</li>
						<li>
							<h3>2016年1月9日</h3>
							<dl>
								<dt>菠萝理财和数据保全机构安存网络科技有限公司达成合作</dt>
							</dl>
						</li>
						<li>
							<h3>2015年10月27日</h3>
							<dl>
								<dt>菠萝理财和第三方支付连连银通电子支付有限公司达成合作</dt>
							</dl>
						</li>
						<li>
							<h3>2015年10月15日</h3>
							<dl>
								<dt>菠萝理财PC端上线运营</dt>
							</dl>
						</li>
						<li>
							<h3>2015年9月19日</h3>
							<dl>
								<dt>理财平台首次改版升级，菠萝理财测试运营</dt>
							</dl>
						</li>
						<li>
							<h3>2015年8月26日</h3>
							<dl>
								<dt>菠萝理财和征信机构北京安融惠众征信有限公司达成合作</dt>
							</dl>
						</li>
						<li>
							<h3>2015年6月22日</h3>
							<dl>
								<dt>马可波罗网战略投资菠萝理财</dt>
							</dl>
						</li>
						<li>
							<h3>2015年3月15日</h3>
							<dl>
								<dt>理财平台上线运营</dt>
							</dl>
						</li>
						<li>
							<h3>2015年2月26日</h3>
							<dl>
								<dt>菠萝理财和第三方支付天津融宝支付网络有限公司达成合作</dt>
							</dl>
						</li>
						<li>
							<h3>2014年12月18日</h3>
							<dl>
								<dt>1号员工孔双双入职</dt>
							</dl>
						</li>
						<li>
							<h3>2014年11月10日</h3>
							<dl>
								<dt>团队核心成员全职创业</dt>
							</dl>
						</li>
						<li>
							<h3>2014年8月8日</h3>
							<dl>
								<dt>平台运营方北京朴素磐石投资管理有限公司成立</dt>
							</dl>
						</li>
					</ul>
				</div>
			</div>
    		
        	<p class="hebing">
        		合并、分立、解散或者申请破产：无<br />
				从业机构受到刑事处罚：无<br />
				从业机构受到重大行政处罚：无<br />
				实际控制人与持股 5%以上的股东、董事、监事、高级管理 人员的变更信息：无
        	</p>
    	</div>
	</body>
</html>
