<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<title>安全保障</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/anquan.css') }}"/>
		<script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.tabs.js') }}"></script>
	</head>
	<body>
		<div class="anqbz aqbz">

			<ul class="tab_menu">
				<li class="current">安全保障</li>
				<li>收益保障</li>
				<li>战略合作</li>
			</ul>

			<div class="tab_box">
				<div class="ap-style">
					<img src="{{ url_for('static', filename='images/anqbz/img_safe.jpg') }}" class="safe" />
					<ul>
						<p><img src="{{ url_for('static', filename='images/anqbz/icon1.png') }}" /> <b>项目低风险</b></p>
						<li>所有项目均是单一项目，无资金期限错配；</li>
						<li>足额抵质押物，大数据风控、实地尽调；</li>
						<li>均由出借人或第三方自愿逾期购买赎回。</li>
					</ul>
					<ul>
						<p><img src="{{ url_for('static', filename='images/anqbz/icon3.png') }}" /> <b>银行存管+电子合同</b></p>
						<li>平台资金和用户资金完全隔离，并为出借人和借款人开设独立的个人银行存管账户，进行分账式管理，操作透明。</li>
						<li>平台上交易内容、数据信息均经过严格的加密处理；通过易保全第三方电子合同数字签名和托管，更有效保障投资人的资金安全。</li>
					</ul>
					<ul>
						<p><img src="{{ url_for('static', filename='images/anqbz/icon4.png') }}" /> <b>公开透明</b></p>
						<li>项目所有信息都在网站详实披露；</li>
						<li>设立每月开放日，邀请投资者实地考察并查阅项目资料。</li>
					</ul>
					<ul>
						<p><img src="{{ url_for('static', filename='images/anqbz/icon5.png') }}" /> <b>资金安全</b></p>
						<li>第三方支付通道“连连支付”流转资金，用户资金职存在于第三方支付托管账户里，与平台有效隔离，安全保障。</li>
					</ul>
					<ul>
						<p><img src="{{ url_for('static', filename='images/anqbz/icon6.png') }}" /> <b>系统安全</b></p>
						<li>菠萝理财通过国家公安部监制的信息安全等级保护三级备案，为非银行类金融机构所能获得的最高备案认证，达到了国有四大行的级别。</li>
						<li>平台采用国际SSL认证的安全证书服务加密数据传输和身份验证。</li>
						<li>采取多重多维度隐私保护机制，平台严格遵守保密条款中规定保障用户的信息安全。</li>
						<li>平台拥有完善的安全监测系统，完善的数据存储备份机制，确保业务平台的高性能和高扩展性。</li>
					</ul>
					<ul>
						<p><img src="{{ url_for('static', filename='images/anqbz/icon7.png') }}" /> <b>法律保障</b></p>
						<li>菠萝理财聘请泽大律师事务所、京师律师事务所为公司常年法律顾问。菠萝理财所有业务活动及相关合同均由律师事务所严格审核，确保其符合相关法律法规，菠萝理财经营合法守信，让用户权益受到国家法律保护。</li>
						<li>菠萝理财携手易保全，通过第三方电子合同平台实现在线合同的数字签名和合同托管，更有效的保障了投资人的资金安全。易宝全是国内技术领先的、获得国家权威机构认证的第三方电子签名云平台，其产品完全符合《中华人民共和国电子签名法》。</li>
					</ul>
				</div>

				<div class="hide">
					<div class="look1">
						<p>专注小额、分散、有抵押的车贷业务。业务主要以车辆抵押贷款为主，以及围绕以车贷开发的其它产品， 同时与汽车经销商进行紧密的合作。业务始终坚持小额分散，借款额度不超过20万，公开透明，支持投资人与借款人通过平台一对一的对接业务。</p>
					</div>
					<div class="look2">
						<p>汽车“以租代购”就是车辆以长租的方式，按逐月支付租金，待租期年限到期后，将车辆所有权过户给客户。对于很多用户来讲是一种比较便捷的服务。汽车“以租代购”是租车和贷款购车的有机结合。</p>
					</div>
					<div class="look3">
						<p>质押：车辆行驶证原件、车主身份证、车辆钥匙、 购车发票、保单和年检单、车辆需开到车行。 抵押：机动车登记证原件、车辆行驶证、车主身份证、 车辆备用钥匙、车辆照片、车管所备案、装GPS。</p>
					</div>
					<div class="look4">
						<p>菠萝理财车贷项目审核必须经过严格的线下审核，由经验丰富的审核人员验证资料真伪、现车考察。专业的团队和严密的管理体系从制度、流程、系统等方面全面的保护投资者利益。</p>
					</div>
				</div>
				
				<div class="hide">
					<div class="zhanl">
						<p>截止目前，菠萝理财已经接受100多家各类合作机构申请，经过专业尽职调查、量化信息评估等严格审核，最终甄选以下几家最优合作机构，他们与我们一起为您的资金安全保驾护航，未来菠萝理财期待与更多优秀机构合作。</p>
						<ul class="qiye">
							<li><img src="{{ url_for('static', filename='images/xinw.png') }}" /> </li>
							<li><img src="{{ url_for('static', filename='images/anqbz/yibao.png') }}" /></li>
							<li><img src="{{ url_for('static', filename='images/anqbz/llian.png') }}" /> </li>
							<li><img src="{{ url_for('static', filename='images/anqbz/rb_logo.png') }}" /></li>
							<li><img src="{{ url_for('static', filename='images/anqbz/zhe.jpg') }}" /> </li>
							<li><img src="{{ url_for('static', filename='images/anqbz/jingshi.png') }}" /></li>
							<li><img src="{{ url_for('static', filename='images/anqbz/zhao.png') }}" /></li>
							<li><img src="{{ url_for('static', filename='images/anqbz/zgc.jpg') }}" style="width: 40%;" /></li>
							<li><img src="{{ url_for('static', filename='images/anqbz/hengt.jpg') }}" /></li>
							<li><img src="{{ url_for('static', filename='images/anqbz/jlb.jpg') }}" /></li>
							<li><img src="{{ url_for('static', filename='images/anqbz/zhongneng.png') }}" /></li>
							<li><img src="{{ url_for('static', filename='images/anqbz/dongdao.png') }}" /></li>
							<li><img src="{{ url_for('static', filename='images/anqbz/yuanh.jpg') }}" style="width: 25%;" /></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<script type="text/javascript">
			$(function(){
				$('.aqbz').Tabs({
					event:'click'
				});
			});
		</script>
	</body>
</html>
