<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>合规</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/comp.css') }}?v=2"/>
</head>
<body>
    <!--<div id="loutinav">
        <ul>
            <li class="active">致投资人的一封信</li>
            <li>合规进程汇报</li>
            <li>践行“1+N”合规行动 </li>
            <li>积极拥抱监管</li>
            <li>坚定合规步伐</li>
            <li>公司荣誉</li>
            <li class="last">顶部</li>
        </ul>
    </div>-->
    
	<div class="hegui">
		<div id="main">
	        <div class="louti xinf">
	        	<h2>网贷监管壹周年 菠萝理财优势愈加突显领跑合规</h2>
	           	<ul>
	           		<li>在2015年和2016年上半年，P2P平台卷款跑路层出不穷，老百姓对P2P这个词充满负面联想就源于此。2016年8月24日，银监会正式发布四部委联合起草的《网络借贷信息中介机构业务活动管理暂行办法》，明确要求网贷平台选择符合条件的银行业金融机构作为出借人与借款人的资金存管机构，并划定13项业务红线，开启了网贷机构的合规之路。</li>
	           		<li>在强监管的大背景下，一年来，网贷行业保持着向好的发展态势。网贷之家发布的7月月报显示，截至7月底，网贷行业历史累计成交量达到了50781.99亿元，正式突破5万亿大关。合规整改大刀阔斧，网贷发展的思路也逐渐清晰，从去年8月24日到今年8月16日，有882家平台退出网贷行业，良性退出的停业和转型平台657家，占比超七成，说明行业自净与良性退出成趋势。</li>
	           		<li>在8月24日新规发布一周年之际，互联网金融合规之路刻不容缓，在这样一个合规大环境下，菠萝理财在合规道路上取得了哪些进步呢？菠萝理财负责人表示：合规发展是网贷行业监管部门对于平台的基本要求，也是保护投资人权益的重要保障；经过一年的整改，菠萝理财在银行存管、电信业务许可证、信息披露、技术安全、业务合规等方面已走在了行业前列，成为网贷行业合规发展的代表性平台之一。坚持合规发展一直是菠萝理财秉持的发展根基，菠萝理财会始终坚持平台信息中介的本质，积极拥抱监管，认真解读政策，做好网贷行业监管的各项要求，完成行业整改的具体规定，为投资人提供安全可靠的信息服务，为整个网贷行业的合规发展做好榜样作用。</li>
	           		<li><b>菠萝理财合规优势一：银行存管</b></li>
	           		<li>在资金存管方面，菠萝理财携手新网银行签订银行资金存管协议，双方正在积极对接系统中，9月初上测试版本，等多方测试通过后，将真正实现用户资金与平台自有资金的有效隔离，保证交易的真实和安全性。</li>
	           		<li><b>菠萝理财合规优势二：ICP电信增值业务许可证</b></li>
	           		<li>2017年7月， 菠萝理财已完全获取包括ICP备案(ICP备案证：京ICP备15006762号-2)、ICP许可证(ICP许可证： 京ICP证 京B2-20170791)、公安机关网安备案信息(公安备案：京公网安备 11010802024110号)在内的“三证”。这标志着菠萝理财在积极响应监管政策的同时，已经是业内为数不多获得“三证”护航的平台之一。</li>
	           		<li><b>菠萝理财合规优势三：信息披露</b></li>
	           		<li>在信息披露方面，用户不仅可以在菠萝理财的官网查询资金存管情况、借款人信息、融资项目信息、高管信息等，还可以查看运营数据信息。</li>
	           		<li><b>菠萝理财合规优势四：数据安全</b></li>
	           		<li>在电子合同方面，菠萝理财与国内电子数据保全服务品牌易保全达成战略合作，通过第三方电子合同平台实现在线合同的数字签名和合同托管、更有效保障投资人的资金安全、不仅消除投资人对于平台投资的安全性顾虑、更是从技术层面和法律层面实现了投资人权益的保障。</li>
	           		<li><b>菠萝理财合规优势五：技术安全</b></li>
	           		<li>在信息与网络安全方面，菠萝理财创建立了一套完善的防火墙、入侵检测、灾难备份等网络安全设施，拥有SSL数字签名、安全套接协议等技术，数据在网络传输中完全加密，防止数据在通信过程中被截取或篡改，保证数据的安全性。</li>
	           		<li>2017年1月,菠萝理财荣获“中关村高新技术企业认证”证书，同年8月， 菠萝理财获国家高新技术企业认证，说明菠萝理财系统技术领跑行业，对于互联网金融的深入洞察和研究，基于公司高、精、尖技术团队的呕心沥血，基于公司开发技术系统的应用价值，也表明国家关部门对菠萝理财业务体系和高新技术应用的认可。</li>
	           		<li><b>菠萝理财合规优势六：多角度铸造安全</b></li>
	           		<li>2017年4月14日，菠萝理财正式加入中国互联网金融企业家俱乐部，成为会员单位，凭借专业的风控管理体系和良好的用户体验,以及优质、稳健的投资理财产品，菠萝理财不仅赢得了投资者的信赖,同时也得到了俱乐部的认可。</li>
	           		<li>2017年4月， 中国企业信用论坛暨第三届“中国影响力品牌”电视盛典活动在北京举办“中国诚信示范企业”评选活动，北京朴素磐石投资管理有限公司(菠萝理财)应邀参评并被授予“中国互联网金融诚信示范企业”荣誉称号。此次获得“中国互联网金融诚信示范企业”既是对菠萝理财金融创新模式的肯定，也是平台以诚信服务赢得用户广泛认可的真实反应。 </li>
	           		<li><b>菠萝理财通过“等保三级”备案 安全级别堪比银行</b></li>
	           		<li>菠萝理财深耕车贷行业，始终秉承借贷业务的真实可控，线上与线下双向配合，几乎零风险的质押模式、强有力的风控团队和可靠的技术，能充分保障投资者的利益。今年7月，菠萝理财获得了国家公安部的“三级等保”测评，这是对菠萝理财持续保持高水准的信息系统安全保护的认可；也意味着菠萝理财在网络信息规范化管理等方面已达到非银行机构中的最高级别--国家安全的高度；符合国家政策法规；并为每位用户的信息提供更加安全、有效的管理。</li>
	           		<li> “8·24监管”一周年正是网贷行业走向合规的关键一年，从目前行业现状来看，互金行业也发生了前所未有的变化，但是台合规之路还有一段较长的路程，任重道远。今年也是网贷行业成立的第十个年头，百舸争流，菠萝理财作为重要一员，坚守三年，激流勇进中获得广大投资人的信赖。未来，在互金行业趋于严管下，曾经野蛮生长的互联网金融业态正去粗取精，变得更透明、更阳光、更规范。菠萝理财也将在一如既往响应监管部门号召的同时，以普惠金融的初心，右手科技，左手合规，用技术进步提升完善风控管理，坚守合规生命线，服务实体经济，以惠及更多小微企业主、三农、城市低收入群体。</li>
	           	</ul>
	        </div>
	        <div class="louti">
	          	<h1>菠萝理财合规进程汇报</h1>
	          	<ul class="jindu">
	          		<li>
	          			营业执照<br />
	          			<span>（经营范围合规）</span>
	          		</li>
	          		<li>
	          			备案手续<br />
	          			<span>履行金融局（正在办理中）</span>
	          		</li>
	          		<li>
	          			ICP经营许可证<br />
	          			<span>（获批）</span>
	          		</li>
	          		<li>
	          			接入新网银行资金存管系统<br />
	          			<span>（系统对接中）</span>
	          		</li>
	          	</ul>
	        </div>
	        <div class="louti jianx">
	            <h1>菠萝理财践行“1+N”合规行动 </h1>
	            <dl>
	            	<dt><img src="{{ url_for('static', filename='images/comp/on.png') }}" /> </dt>
	            	<dd>
	            		电子合同第三方存证<br />
	            		<span>防止合同被篡改</span>
	            	</dd>
	            </dl>
	            <dl>
	            	<dt><img src="{{ url_for('static', filename='images/comp/cung.png') }}" /> </dt>
	            	<dd>
	            		银行存管<br />
	            		<span>防止平台挪用资金</span>
	            	</dd>
	            </dl>
	            <dl>
	            	<dt><img src="{{ url_for('static', filename='images/comp/sws.png') }}" /> </dt>
	            	<dd>
	            		律师事务所<br />
	            		<span>监督平台合法合规</span>
	            	</dd>
	            </dl>
	            <dl>
	            	<dt><img src="{{ url_for('static', filename='images/comp/beia.png') }}" /> </dt>
	            	<dd>
	            		公安部信息安全备案<br />
	            		<span>安全升级</span>
	            	</dd>
	            </dl>
	            <dl>
	            	<dt><img src="{{ url_for('static', filename='images/comp/banq.png') }}" /> </dt>
	            	<dd>
	            		六项著作版权<br />
	            		<span>技术实力过硬</span>
	            	</dd>
	            </dl>
	        </div>
	        <div class="louti">
	            <h1>我们始终坚定步伐，积极拥抱监管</h1>
	            <ul class="onepic">
	            	<li><img src="{{ url_for('static', filename='images/comp/heg.png') }}" /> </li>
	            	<li><img src="{{ url_for('static', filename='images/comp/zy.png') }}" /> </li>
	            	<li><img src="{{ url_for('static', filename='images/comp/tm.png') }}" /> </li>
	            	<li><img src="{{ url_for('static', filename='images/comp/lh.png') }}" /> </li>
	            </ul>
	        </div>
	        <div class="louti">
	            <h1>对于《暂行办法》中规定的禁止的事项<br />菠萝理财坚持零触碰</h1>
	            <div class="xinf">
		        	<p>禁止自融、禁止虚假宣传、禁止自担保、禁止线下推广、禁止发放贷款、禁止期限拆分、禁止自行发售或代售金融产品、禁止类资产证券化业务、禁止归集出借人资金、禁止做高风险配资、禁止做股权众筹、禁止做其他监管规定禁止的事项！</p>
		        </div>
	        </div>
	        <div class="louti">
	            <h1>公司荣誉</h1>
	            <div class="btnMode" id="slider">
				<div class="scroll">	
					<ul class="scrollContainer"><!--inside-->
						<li class="panel" id="panel_1">
							<img src="{{ url_for('static', filename='images/comp/img05.png') }}" />
						</li>
						<li class="panel" id="panel_2">
							<img src="{{ url_for('static', filename='images/comp/img06.png') }}" />
						</li>
						<li class="panel" id="panel_3">
							<img src="{{ url_for('static', filename='images/comp/img07.png') }}" />
						</li>
						<li class="panel" id="panel_4">
							<img src="{{ url_for('static', filename='images/comp/fghnnj.jpg') }}" />
						</li>
						<li class="panel" id="panel_5">
							<img src="{{ url_for('static', filename='images/comp/erty.png') }}" />
						</li>
						<li class="panel current" id="panel_6">
							<img src="{{ url_for('static', filename='images/comp/ios.png') }}" />
						</li>
						<li class="panel" id="panel_7">
							<img src="{{ url_for('static', filename='images/comp/and.png') }}" />
						</li>
						<li class="panel" id="panel_8">
							<img src="{{ url_for('static', filename='images/comp/kehu.png') }}" />
						</li>
						<li class="panel" id="panel_9">
							<img src="{{ url_for('static', filename='images/comp/sjyw.png') }}" />
						</li>
						<li class="panel" id="panel_10">
							<img src="{{ url_for('static', filename='images/comp/scyx.png') }}" />
						</li>
						<li class="panel" id="panel_11">
							<img src="{{ url_for('static', filename='images/comp/tzgl.png') }}" />
						</li>
						<li class="panel" id="panel_12">
							<img src="{{ url_for('static', filename='images/comp/hysw.png') }}" />
						</li>
						<li class="panel" id="panel_13">
							<img src="{{ url_for('static', filename='images/comp/hyzs.png') }}" />
						</li>
						<li class="panel" id="panel_14">
							<img src="{{ url_for('static', filename='images/comp/1.png') }}" />
						</li>
						<li class="panel" id="panel_15">
							<img src="{{ url_for('static', filename='images/comp/gkj.png') }}" />
						</li>
						<li class="panel" id="panel_16">
							<img src="{{ url_for('static', filename='images/comp/hlw.png') }}" />
						</li>
						<li class="panel" id="panel_17">
							<img src="{{ url_for('static', filename='images/comp/gp.png') }}" />
						</li>
					</ul>
				</div>
				<a class="prev btn"></a>
				<a class="next btn"></a>
			</div>
	        </div>
	    </div>
	    <!--<div id="footer">
	    	网站底部
	    </div>-->
	
	</div>
   
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/comp.js') }}"></script>
	
</body>
</html>