<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<title>母亲节获奖名单</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/maward.css') }}"/>
	</head>
	<body>
		<div class="may">
			<div class="toppic"></div>
			
			<div class="topbtn">
				<div class="baik">
					<dl>
						<dt><img src="{{ url_for('static', filename='images/may/jiandai@2x.png') }}" /> </dt>
						<dd>按摩肩带</dd>
					</dl>
					<ul>
						<li>131*****377</li>
						<li>152*****319</li>
						<li>177*****085</li>
						<li>188*****808</li>
					</ul>
				</div>
				<div class="baik">
					<dl style="margin-top: 16vmin;margin-bottom: 13vmin;">
						<dt><img src="{{ url_for('static', filename='images/may/chongdianbao@2x.png') }}" /> </dt>
						<dd>充电宝</dd>
					</dl>
					<ul>
						<li>131*****889</li>
						<li>135*****599</li>
						<li>152*****201</li>
						<li>180*****390</li>
						<li>186*****708</li>
						<li>186*****535</li>
						<li>189*****460</li>
					</ul>
				</div>
				<div class="baik">
					<dl style="margin-top: 16vmin;margin-bottom: 13vmin;">
						<dt><img src="{{ url_for('static', filename='images/may/jiashiqi@2x.png') }}" /> </dt>
						<dd>加湿器</dd>
					</dl>
					<ul>
						<li>189*****460</li>
						<li>131*****889</li>
						<li>137*****200</li>
						<li>182*****362</li>
						<li>186*****535</li>
						<li>189*****443</li>
					</ul>
				</div>
				<div class="baik">
					<dl>
						<dt><img src="{{ url_for('static', filename='images/may/fangdaqi@2x.png') }}" /> </dt>
						<dd>手机屏幕放大器</dd>
					</dl>
					<ul>
						<li>178*****651</li>
						<li>186*****708</li>
						<li>188*****808</li>
					</ul>
				</div>
				<div class="baik">
					<dl>
						<dt><img src="{{ url_for('static', filename='images/may/zudian@2x.png') }}" /> </dt>
						<dd>雨花石足垫</dd>
					</dl>
					<ul style="margin-top: 15vmin;">
						<li>189*****460</li>
					</ul>
				</div>
				<div class="baik">
					<dl>
						<dt><img src="{{ url_for('static', filename='images/may/zyp.png') }}" /> </dt>
						<dd>足浴盆</dd>
					</dl>
					<ul>
						<li>138*****823</li>
						<li>186*****108</li>
						<li>186*****535</li>
						<li>189*****443</li>
					</ul>
				</div>
			</div>
				<ul class="dibu">
					<li>奖品会在5月26日前全部寄出</li>
					<li>本次活动最终解释权归菠萝理财所有</li>
					<li>如有任何疑问，请咨询菠萝理财客服：400-032-0596</li>
				</ul>
		</div>
	</body>
</html>
