<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<title>3.8女神节获奖名单</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sanbahj.css') }}"/>
	</head>
	<body>
		<div class="sanba">
			<nav class="huoj"></nav>
			<div class="yonghu">
				<b>亲爱的菠萝理财用户：</b>
				<p>菠萝理财在3.8女神节期间，推出的“闯关九重天，关关有好礼”活动，顺利落幕啦！感谢各位的参与！以下是累计投资获奖名单：</p>
			</div>
			<header class="look-head">
				<ol class="biaot">
					<li>姓名</li>
					<li>手机号</li>
					<li>投资总额</li>
					<li>周**</li>
					<li>134xxxx4789</li>
					<li>1000800</li>
				</ol>
				<h1 class="jial"><b></b>获得奖励<b></b></h1>
				<dl class="daj">
					<dt><img src="{{ url_for('static', filename='images/sanbahj/dajiang.png') }}" /> </dt>
					<dd>价值8888元定制黄金<br />美图手机M6（64G）<br />888元现金</dd>
				</dl>
			</header>
			<footer class="ranking">
				<ul>
					<li><b>排名</b></li>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>6</li>
					<li>7</li>
					<li>8</li>
					<li>9</li>
					<li>10</li>
					<li>11</li>
					<li>12</li>
					<li>13</li>
					<li>14</li>
					<li>15</li>
					<li>16</li>
					<li>17</li>
					<li>18</li>
					<li>19</li>
					<li>20</li>
					<li>21</li>
					<li>22</li>
					<li>23</li>
					<li>24</li>
					<li>25</li>
					<li>26</li>
					<li>27</li>
					<li>28</li>
					<li>29</li>
					<li>30</li>
					<li>31</li>
					<li>32</li>
					<li>33</li>
					<li>34</li>
					<li>35</li>
					<li>36</li>
					<li>37</li>
					<li>38</li>
					<li>39</li>
					<li>40</li>
				</ul>
				<ul>
					<li><b>姓名</b></li>
					<li>张**</li>
					<li>李**</li>
					<li>恂**</li>
					<li>徐**</li>
					<li>陈**</li>
					<li>张**</li>
					<li>陈**</li>
					<li>庄**</li>
					<li>邱**</li>
					<li>王**</li>
					<li>许**</li>
					<li>刘**</li>
					<li>安**</li>
					<li>张**</li>
					<li>杨**</li>
					<li>蔡*</li>
					<li>闵**</li>
					<li>张**</li>
					<li>张**</li>
					<li>曲**</li>
					<li>荣**</li>
					<li>刘**</li>
					<li>符**</li>
					<li>张**</li>
					<li>陶**</li>
					<li>章**</li>
					<li>李**</li>
					<li>张**</li>
					<li>张**</li>
					<li>谢**</li>
					<li>朱**</li>
					<li>孙**</li>
					<li>韩**</li>
					<li>杨**</li>
					<li>贾**</li>
					<li>吴**</li>
					<li>胡**</li>
					<li>王**</li>
					<li>唐**</li>
					<li>李**</li>
				</ul>
				<ul>
					<li><b>手机号</b></li>
					<li>156xxxx9888</li>
					<li>153xxxx0749</li>
					<li>185xxxx6863</li>
					<li>136xxxx7389</li>
					<li>139xxxx5527</li>
					<li>135xxxx6053</li>
					<li>186xxxx5529</li>
					<li>137xxxx7818</li>
					<li>159xxxx9012</li>
					<li>137xxxx2162</li>
					<li>188xxxx0808</li>
					<li>135xxxx0410</li>
					<li>151xxxx6375</li>
					<li>158xxxx0666</li>
					<li>159xxxx0241</li>
					<li>158xxxx5911</li>
					<li>170xxxx4984</li>
					<li>135xxxx8809</li>
					<li>136xxxx7437</li>
					<li>136xxxx5581</li>
					<li>139xxxx2609</li>
					<li>135xxxx0668</li>
					<li>138xxxx0203</li>
					<li>131xxxx9568</li>
					<li>130xxxx1861</li>
					<li>158xxxx2842</li>
					<li>133xxxx7617</li>
					<li>135xxxx4599</li>
					<li>139xxxx3861</li>
					<li>131xxxx2860</li>
					<li>159xxxx9108</li>
					<li>138xxxx9823</li>
					<li>138xxxx2882</li>
					<li>137xxxx8538</li>
					<li>150xxxx5238</li>
					<li>136xxxx9741</li>
					<li>135xxxx0728</li>
					<li>135xxxx8733</li>
					<li>187xxxx7320</li>
					<li>150xxxx3365</li>
				</ul>
				<ul>
					<li><b>投资金额</b></li>
					<li>569898.8</li>
					<li>527119.3</li>
					<li>500770</li>
					<li>500486.8</li>
					<li>496761.8</li>
					<li>400383.1</li>
					<li>383800</li>
					<li>306170</li>
					<li>305049.6</li>
					<li>250000</li>
					<li>202941.5</li>
					<li>188740</li>
					<li>165400</li>
					<li>163249.7</li>
					<li>160000</li>
					<li>150000</li>
					<li>146662.9</li>
					<li>146000</li>
					<li>138458.8</li>
					<li>135000</li>
					<li>131000</li>
					<li>130000</li>
					<li>123457.6</li>
					<li>121000</li>
					<li>120926</li>
					<li>120354</li>
					<li>120000</li>
					<li>120000</li>
					<li>109995.5</li>
					<li>109000</li>
					<li>106887</li>
					<li>106248.6</li>
					<li>105504</li>
					<li>105344</li>
					<li>100050</li>
					<li>100043.7</li>
					<li>100001</li>
					<li>100000</li>
					<li>100000</li>
					<li>100000</li>
				</ul>
				<ul>
					<li><b>奖品</b></li>
					<li>美图手机M6（64G）</li>
					<li>美图手机M6（64G）</li>
					<li>美图手机M6（64G）</li>
					<li>美图手机M6（64G）</li>
					<li>美图手机M6（64G）</li>
					<li>美图手机M6（64G）</li>
					<li>魅族MX6（32G）</li>
					<li>魅族MX6（32G）</li>
					<li>魅族MX6（32G）</li>
					<li>魅族MX6（32G）</li>
					<li>小米空气净化器</li>
					<li>小米盒子3s</li>
					<li>小米盒子3s</li>
					<li>小米盒子3s</li>
					<li>小米盒子3s</li>
					<li>小米盒子3s</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
					<li>魅族充电宝</li>
				</ul>
			</footer>
			<div class="yonghu">
				<p>恭喜各位获奖投资者，菠萝理财在活动结束后七个工作日确认获奖者的收货地址，并在4月10日陆续将奖品寄出。（4月10日还联系不上获奖者的视为放弃）。</p>
				<p>感谢大家对菠萝理财的支持！后续会有更精彩活动，欢迎大家积极参与！</p>
				<p>如有疑问，请与客服联系，客服热线：400-032-0596</p>
			</div>
			<b class="zuil">
				菠萝理财运营团队<br />
				2017年3月22日
			</b>
		</div>
	</body>
</html>
