<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<title>银行存管</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cunguan.css') }}"/>
	</head>
	<body>
		<div class="cunguan">
			<img src="{{ url_for('static', filename='images/cunguan/banner.jpg') }}" />
			<div class="dingwei">
				<b>导语：</b>
				<p>2017年4月5日，菠萝理财携手新网银行正式签订资金存管服务协议，标志着菠萝理财正式接入银行存管业务，合规化建设再上新台阶，为用户资金安全再添了一份安全保障。菠萝理财接入资金存管后，新网银行能够完整记录网络借贷用户信息、交易信息及其他关键信息，新网银行将为菠萝理财开设独立的银行存管账户系统，并为出借人和借款人开设独立的个人银行存管账户，进行分账式管理，操作透明。</p>
				<p>对于上线资金存管的重要性，菠萝理财负责人表示，自平台成立伊始，我们默默做了大量工作，技术升级，加强风控等、始终坚持合规经营，不设资金池，并积极寻找银行存管解决方案，尽心尽力保障用户的资金安全。此次银行资金存管服务协议的签订不但增强投资者的信心，也对我们平台的发展具有深远意义；下一步银行存管正式上线后，不仅意味着平台用户资金、账户信息及资金流向都将受到新网银行监管，同时也表明新网银行方面对合作平台风控能力和业务模式的认可。</p>
			</div>
			<div class="xinwang">
				<p>新网银行介绍</p>
				<dl class="xinw">
					<dt><img src="{{ url_for('static', filename='images/cunguan/yinhang.jpg') }}" /> </dt>
					<dd>新网银行于2016年6月份获得中国银监会筹建批复，注册资本为30亿元，由新希望集团、小米等股东发起设立，其中新希望集团出资9亿元，占股30%；小米出资8.85亿元，占股29.5%，成为中国第7家获批筹建的民营银行。新网银行定位为新一代互联网银行，致力于通过互联网技术为消费者和小微企业提供定制化的金融服务。新网银行以“移动互联”为特定战略，依靠大数据和科技驱动业务运营，致力于融合线上与线下应用需求，构建和完善惠普金融体系。也是继腾讯旗下微众银行、阿里旗下网商银行的全国第三家互联网银行。</dd>
				</dl>
			</div>
		<div class="shili">
			<p>菠萝理财品牌实力</p>
			<div class="fenbu">
				<dl>
					<dt><img src="{{ url_for('static', filename='images/cunguan/icon-1.png') }}" /> </dt>
					<dd>银行存管</dd>
				</dl>
				<dl>
					<dt><img src="{{ url_for('static', filename='images/cunguan/icon-2.png') }}" /> </dt>
					<dd>电子合同</dd>
				</dl>
				<dl>
					<dt><img src="{{ url_for('static', filename='images/cunguan/icon-3.png') }}" /> </dt>
					<dd>前海股权交易中心<br />挂牌企业</dd>
				</dl>
			</div>
			<div class="fenbu">
				<dl>
					<dt><img src="{{ url_for('static', filename='images/cunguan/icon-4.png') }}" /> </dt>
					<dd>ICP经营许可证</dd>
				</dl>
				<dl>
					<dt><img src="{{ url_for('static', filename='images/cunguan/icon-5.png') }}" /> </dt>
					<dd>北京市<br />高新技术企业</dd>
				</dl>
				<dl>
					<dt><img src="{{ url_for('static', filename='images/cunguan/icon-6.png') }}" /> </dt>
					<dd>互联网金融诚信<br />示范企业</dd>
				</dl>
			</div>
		</div>
			<div class="moshi">
				<p>资金存管模式</p>
				<img src="{{ url_for('static', filename='images/cunguan/tupian.png') }}" />
			</div>
		<div class="foot">
			<p>接入银行存管有什么好处</p>
			<div class="dibu">
				<dl>
					<dt><img src="{{ url_for('static', filename='images/cunguan/icon-7.png') }}" style="width: 30%;" /> </dt>
					<dd><b>合规发展</b><br />符合监管政策要求，彰显平台决心和实力，进一步保证合规。</dd>
				</dl>
				<dl>
					<dt><img src="{{ url_for('static', filename='images/cunguan/icon-8.png') }}" /> </dt>
					<dd><b>资金隔离</b><br />平台资金和用户资金完全隔离，平台不能触碰用户资金。</dd>
				</dl>
				<dl>
					<dt><img src="{{ url_for('static', filename='images/cunguan/icon-9.png') }}" style="width: 30%;" /> </dt>
					<dd><b>交易监管</b><br />所有交易须经合同校验，合同由银行监管，银行定期核查。</dd>
				</dl>
			</div>
		</div>
		</div>
	</body>
</html>
