<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<title>易保全</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/yibaoq.css') }}?v=1"/>
	</head>
	<body>
		<div class="yibao">
			<div class="center">
				<p class="shou">理财安全再升级！日前、菠萝理财与国内电子数据保全服务品牌易保全达成战略合作、通过保全服务、菠萝理财平台上相应的交易内容、数据信息均经过严格的加密处理；通过第三方电子合同平台实现在线合同的数字签名和合同托管、更有效保障投资人的资金安全、不仅消除投资人对于平台投资的安全性顾虑、更是从技术层面和法律层面实现了投资人权益的保障。</p>
			</div>
			
			<div class="yuanone">
				<dl>
					<dt><img src="{{ url_for('static', filename='images/yibaoquan/yuan1.png') }}" /> </dt>
					<dd><b>集团背景</b><br />易保全是由重庆博恩集团与重庆邮电大学法学院共同建立的以电子数据保全与认证为核心的独立第三方平台。</dd>
				</dl>
				<dl>
					<dt><img src="{{ url_for('static', filename='images/yibaoquan/yuan2.png') }}" /> </dt>
					<dd><b>技术专利</b><br />国内唯一拥有电子数据保全专利技术（国家知识产权局颁发的4项合同保全技术发明专利），从技术层面保障电子数据无法篡改。</dd>
				</dl>
			</div>
			<div class="yuantwo">
				<dl>
					<dt><img src="{{ url_for('static', filename='images/yibaoquan/yuan3.png') }}" /> </dt>
					<dd><b>司法认可</b><br />公证处与司法鉴定中心认可的电子数据保全技术，直接免于走司法出证传统流程，可通过易保全直接在线申请司法出证。</dd>
				</dl>
				<dl>
					<dt><img src="{{ url_for('static', filename='images/yibaoquan/yuan4.png') }}" /> </dt>
					<dd><b>易保全</b><br />保全金额：6051亿+保全数量：6530万+保全用户量：361万+合作平台：<br />200+</dd>
				</dl>
			</div>
				
			<div class="het">
				<ul class="hetong">
					<li><b>电子合同保全能做什么？</b></li>
						<img src="{{ url_for('static', filename='images/yibaoquan/het.jpg') }}" />
					<li>保证用户在平台交易的有效性，为投资者提供交易凭证（投资凭证、借款合同等信息）保全服务。同时可在线获取《司法鉴定书》《公证处证书》《电子数据保全证书》做为司法证据。</li>	
					<li>提供受法律认可的电子数据保全书（国家专利局、CNAS中国国家实验室资格认证，让易保全电子数据保全中心出具的电子认证证书。受法律认可）。</li>
					<li>电子合同一旦保全，合同内容、生成时间等信息将加密固定，任何细微的修改都会导致保全证书函数值的变化，有效防止认为篡改，其私密性、安全性也比实物资料更为可靠。</li>
					<li><img src="{{ url_for('static', filename='images/yibaoquan/4.png') }}" class="four" /> 生成唯一的《电子数据保全证书》供用户下载。</li>
				</ul>
			</div>
			
			<div class="baoquan">
				<img src="{{ url_for('static', filename='images/yibaoquan/8.png') }}" />
				<div class="picimg"></div>
			</div>
				
			<div class="jieda">
				<ul class="dati">
					<li><b>Q、电子数据保全是什么？</b></li>
					<li>答：电子数据在线保全是指对以电子数据形式(包括文字、图形、字母、数字、三维标志、颜色组合和声音以及上述要素的组合等,下同)存在的各类电子数据信息，运用专利技术进行运算、加密固定，载明保全生成的标准时间、运算值、档案编号等，以防止被人篡改，确保电子数据的原始性、客观性的程序及方法。 简单来说拥有了电子数据保全，等于是为您的文件买一份所有权保险，由具有司法公信力的第三方为您出具凭证，是发生司法纠纷时给您增加胜算的有利筹码。</li>
					<li><b>Q、易保全电子数据保全中心提供什么？</b></li>
					<li>答：提供受法律认可的电子数据认证证书服务<br />
						国家专利局、CNAS中国国家实验室资格认证，让易保全电子数据保全中心出具的电子认证证书，受法律认可！<br />
						CFCA身份认证、电子签章服务<br />
						提供CFCA身份认证、电子签章，让身份认证更可靠。<br />
						一站式存取证服务<br />
						电子数据保全中心打通保全存证、司法鉴定、法律服务等环节，真正做到一站式服务。</li>
					<li><b>Q、投资者如何检验保全证书真伪？</b></li>
					<li>答：投资者拿到保全证书后，可以登录www.ebaoquan.org，录入证书上的备案号及上传被保全文件（如电子合同）进行真伪验证。或者从收到证书生成的邮件中， 点击查看"查看我的保全证书"，进入证书页面使用验证功能。</li>
					<li><b>Q、电子数据保全是否具有法律效力？</b></li>
					<li>答：最新修正的《刑事诉讼法》《民事诉讼法》均将电子数据列为证据的一种。电子数据保全中心提供的保全证书，可作为司法人员和律师分析、认定案件事实的有效 证据，让受保者在司法纠纷中占据有利地位。根据受保者需要，电子数据保全中心还可以为受保者提供合作机构出具的公证书或司法鉴定书。</li>
					<li><b>Q、我拿到手的公证书包含什么内容？</b></li>
					<li>答：公证书一式三份，含封装在公证书内的三张文件光盘（光盘由公证处盖章封条，封条可在法庭上当庭拆除，不可私拆。）</li>
				</ul>
			</div>
			
			<div class="foot">
				<button class="zhuce"><a href="/v1/html5/hongbaogl?islogin={{response_data.islogin}}">马上注册拿红包</a></button>
			</div>
		</div>
	</body>
</html>
